node-red/device flows/Device-Flows.js
[{"id":"f3aa9533.0c5568","type":"websocket-listener","path":"/ws/goodair","wholemsg":"false"},{"id":"c1c0c514.3e3f38","type":"exec","command":"AdafruitDHT.py","addpay":true,"append":"11 6","useSpawn":"","name":"Collect DHT11 Readings","x":341.8888854980469,"y":410.8888854980469,"z":"91f527c9.6e0ad8","wires":[["c273aea0.3d8c5"],[],[]]},{"id":"e8a72ba5.1758d8","type":"inject","name":"Run DHT11","topic":"","payload":"11 16","payloadType":"none","repeat":"180","crontab":"","once":true,"x":138.88888549804688,"y":410.8888854980469,"z":"91f527c9.6e0ad8","wires":[["c1c0c514.3e3f38"]]},{"id":"d70f25d9.28f0d8","type":"comment","name":"DHT11 (Temp & Humidity) Sensor Collector","info":"This DFRobot DHT11 Temperature & Humidity Sensor features a temperature & humidity sensor\ncomplex with a calibrated digital signal output. By using the exclusive digital-signal-acquisition\ntechnique and temperature & humidity sensing technology, it ensures high reliability and\nexcellent long-term stability. \n\nThis sensor includes a resistive-type humidity measurement\ncomponent and an NTC temperature measurement component, and connects to a highperformance\n8-bit microcontroller, offering excellent quality, fast response, anti-interference\nability and cost-effectiveness.\n\nSyntax AdafruitDHT.py type (11/22) GPIO (e.g 6)","x":219.88888549804688,"y":456.8888854980469,"z":"91f527c9.6e0ad8","wires":[]},{"id":"c273aea0.3d8c5","type":"function","name":"Parse DHT11 & Update Stats","func":"context.global.DHT11_temperature = 0;\ncontext.global.DHT11_humidity = 0;\n// Increment the temperature and humidity readings\n\n//node.warn(\"M2X Prep:msg.payload:\"+msg.payload);\n\nvar readings = msg.payload.split(\" \");\n// now we have to parse them at the \"=\" as well as remove the last character (C or %)\nvar tempreading = readings[0];\n//node.warn(\"M2X Prep:tempreading:\"+tempreading);\nvar humidityreading = readings[2];\n//node.warn(\"M2X Prep:humidityreading:\"+humidityreading);\nvar DHT11_temperature = tempreading.split('=')[1];\n//node.warn(\"M2X Prep:DHT11_temperature:equal split:\"+DHT11_temperature);\nvar DHT11_humidity = humidityreading.split('=')[1];\n//node.warn(\"M2X Prep:DHT11_humidity:equal split:\"+DHT11_humidity);\n\n// now split one time to strip off the unwanted characters (the *C or %) from each variable\nDHT11_temperature = DHT11_temperature.split('*')[0];\nDHT11_humidity = DHT11_humidity.split('%')[0];\n//node.warn(\"M2X Prep:DHT11_temperature:\"+DHT11_temperature);\n//node.warn(\"M2X Prep:DHT11_humidity:\"+DHT11_humidity);\n\n// Set the update and power temperature settings\ncontext.global.update_temperature_present = Math.round(DHT11_temperature);\ncontext.global.update_temperature_readings += 1;\ncontext.global.update_temperature_totals += Math.round(DHT11_temperature);\n\ncontext.global.powerup_temperature_present = Math.round(DHT11_temperature);\ncontext.global.powerup_temperature_readings += 1;\ncontext.global.powerup_temperature_totals += Math.round(DHT11_temperature);\n\n// Set the update and powerup humidity settings\ncontext.global.update_humidity_present = Math.round(DHT11_humidity);\ncontext.global.update_humidity_readings += 1;\ncontext.global.update_humidity_totals += Math.round(DHT11_humidity);\n\ncontext.global.powerup_humidity_present = Math.round(DHT11_humidity);\ncontext.global.powerup_humidity_readings += 1;\ncontext.global.powerup_humidity_totals += Math.round(DHT11_humidity);\n\n\n// Calculate the average temperature based on reading count and totals\nif (context.global.update_temperature_readings != \"0\") context.global.update_temperature_average = Math.round(context.global.update_temperature_totals / context.global.update_temperature_readings);\nelse context.global.update_temperature_average = Math.round(context.global.update_temperature_present);\n\n//node.warn('powerup_temperature_totals:'+context.global.powerup_temperature_totals);\n//node.warn('powerup_temperature_readings:'+context.global.powerup_temperature_readings);\nif (context.global.powerup_temperature_readings != \"0\") context.global.powerup_temperature_average = Math.round(context.global.powerup_temperature_totals / context.global.powerup_temperature_readings);\nelse context.global.powerup_temperature_average = Math.round(context.global.powerup_temperature_present);\n\n// Calculate the average humidity based on reading count and totals\nif (context.global.update_humidity_readings != \"0\") context.global.update_humidity_average = Math.round(context.global.update_humidity_totals / context.global.update_humidity_readings);\nelse context.global.update_humidity_average = Math.round(context.global.update_humidity_present);\n\nif (context.global.powerup_humidity_readings != \"0\") context.global.powerup_humidity_average = Math.round(context.global.powerup_humidity_totals / context.global.powerup_humidity_readings);\nelse context.global.powerup_humidity_average = Math.round(context.global.powerup_humidity_present);\n\n\n// Set low and high temperature.  Handle any first pass initialization of low and high (when -999)\nif (context.global.update_temperature_high === '') context.global.update_temperature_high = context.global.update_temperature_present;\nif (context.global.update_temperature_low === '') context.global.update_temperature_low = context.global.update_temperature_present;\nif (context.global.update_temperature_present >= context.global.update_temperature_high) context.global.update_temperature_high = context.global.update_temperature_present;\nif (context.global.update_temperature_present <= context.global.update_temperature_low) context.global.update_temperature_low = context.global.update_temperature_present;\n\nif (context.global.powerup_temperature_high === '') context.global.powerup_temperature_high = context.global.powerup_temperature_present;\nif (context.global.powerup_temperature_low === '') context.global.powerup_temperature_low = context.global.powerup_temperature_present;\nif (context.global.powerup_temperature_present >= context.global.powerup_temperature_high) context.global.powerup_temperature_high = context.global.powerup_temperature_present;\nif (context.global.powerup_temperature_present <= context.global.powerup_temperature_low) context.global.powerup_temperature_low = context.global.powerup_temperature_present;\n\n\n// Set low and high humidity.  Handle any first pass initialization of low and high (when -999)\nif (context.global.update_humidity_high === '') context.global.update_humidity_high = context.global.update_humidity_present;\nif (context.global.update_humidity_low === '') context.global.update_humidity_low = context.global.update_humidity_present;\nif (context.global.update_humidity_present >= context.global.update_humidity_high) context.global.update_humidity_high = context.global.update_humidity_present;\nif (context.global.update_humidity_present <= context.global.update_humidity_low) context.global.update_humidity_low = context.global.update_humidity_present;\n\nif (context.global.powerup_humidity_high === '') context.global.powerup_humidity_high = context.global.powerup_humidity_present;\nif (context.global.powerup_humidity_low === '') context.global.powerup_humidity_low = context.global.powerup_humidity_present;\nif (context.global.powerup_humidity_present >= context.global.powerup_humidity_high) context.global.powerup_humidity_high = context.global.powerup_humidity_present;\nif (context.global.powerup_humidity_present <= context.global.powerup_humidity_low) context.global.powerup_humidity_low = context.global.powerup_humidity_present;\n\n//node.warn('Parse DHT11: context.global.update_humidity_average:'+context.global.update_humidity_average);\nvar d = new Date();\nvar n = d.toISOString();\ncontext.global.update_temperature_time_present = n;\ncontext.global.powerup_temperature_time_present = n;\ncontext.global.update_humidity_time_present = n;\ncontext.global.powerup_humidity_time_present = n;\nif (context.global.update_temperature_time_start === '') context.global.update_temperature_time_start = n;\nif (context.global.powerup_temperature_time_start === '') context.global.powerup_temperature_time_start = n;\nif (context.global.update_humidity_time_start === '') context.global.update_humidity_time_start = n;\nif (context.global.powerup_humidity_time_start === '') context.global.powerup_humidity_time_start = n;\n\nreturn msg;","outputs":1,"noerr":0,"x":650.888916015625,"y":398.8888759200952,"z":"91f527c9.6e0ad8","wires":[["3a94b4f9.c56b4c"]]},{"id":"3a94b4f9.c56b4c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":912.8890380859375,"y":398.8888759200952,"z":"91f527c9.6e0ad8","wires":[]},{"id":"d917aca2.26e85","type":"inject","name":"Initialize Globals","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":152.88888549804688,"y":56.88888931274414,"z":"91f527c9.6e0ad8","wires":[["a1ff5488.5e00a8","5ebdeb02.a14214","15af4399.ea50bc"]]},{"id":"a1ff5488.5e00a8","type":"function","name":"Initialize Globals","func":"//\n//\ncontext.global.m2x_device_api_key = 'c1fe84a3ee5fbe2a2ddfaa97098e139d';\ncontext.global.device_name = 'GoodAir';\ncontext.global.LANIP = '0.0.0.0';\ncontext.global.WLANIP = '0.0.0.0';\ncontext.global.WWANIP = '0.0.0.0';\ncontext.global.hardware = '';\ncontext.global.version = '';\ncontext.global.serialno = '';\n//\nif (typeof(context.global.latitude) == \"undefined\") context.global.latitude = 0;\nif (typeof(context.global.longitude) == \"undefined\") context.global.longitude = 0;\nif (typeof(context.global.elevation) == \"undefined\") context.global.elevation = 0;\nif (typeof(context.global.gps_time) == \"undefined\") context.global.gps_time = '1970-01-01:00:00.000Z';\n//\nif (typeof(context.global.update_temperature_present) == \"undefined\") context.global.update_temperature_present = '';\nif (typeof(context.global.update_temperature_high) == \"undefined\") context.global.update_temperature_high = '';\nif (typeof(context.global.update_temperature_low) == \"undefined\") context.global.update_temperature_low = '';\nif (typeof(context.global.update_temperature_average) == \"undefined\") context.global.update_temperature_average = '';\nif (typeof(context.global.update_temperature_readings) == \"undefined\") context.global.update_temperature_readings = 0;\nif (typeof(context.global.update_temperature_totals) == \"undefined\") context.global.update_temperature_totals = 0;\nif (typeof(context.global.update_temperature_time_present) == \"undefined\") context.global.update_temperature_time_present = '';\nif (typeof(context.global.update_temperature_time_start) == \"undefined\") context.global.update_temperature_time_start = '';\n\n\nif (typeof(context.global.powerup_temperature_present) == \"undefined\") context.global.powerup_temperature_present = '';\nif (typeof(context.global.powerup_temperature_high) == \"undefined\") context.global.powerup_temperature_high = '';\nif (typeof(context.global.powerup_temperature_low) == \"undefined\") context.global.powerup_temperature_low = '';\nif (typeof(context.global.powerup_temperature_average) == \"undefined\") context.global.powerup_temperature_average = '';\nif (typeof(context.global.powerup_temperature_readings) == \"undefined\") context.global.powerup_temperature_readings = 0;\nif (typeof(context.global.powerup_temperature_totals) == \"undefined\") context.global.powerup_temperature_totals = 0;\nif (typeof(context.global.powerup_temperature_time_present) == \"undefined\") context.global.powerup_temperature_time_present = '';\nif (typeof(context.global.powerup_temperature_time_start) == \"undefined\") context.global.powerup_temperature_time_start = '';\n\nif (typeof(context.global.update_humidity_present) == \"undefined\") context.global.update_humidity_present = '';\nif (typeof(context.global.update_humidity_high) == \"undefined\") context.global.update_humidity_high = '';\nif (typeof(context.global.update_humidity_low) == \"undefined\") context.global.update_humidity_low = '';\nif (typeof(context.global.update_humidity_average) == \"undefined\") context.global.update_humidity_average = '';\nif (typeof(context.global.update_humidity_readings) == \"undefined\") context.global.update_humidity_readings = 0;\nif (typeof(context.global.update_humidity_totals) == \"undefined\") context.global.update_humidity_totals = 0;\nif (typeof(context.global.update_humidity_time_present) == \"undefined\") context.global.update_humidity_time_present = '';\nif (typeof(context.global.update_humidity_time_start) == \"undefined\") context.global.update_humidity_time_start = '';\n\nif (typeof(context.global.powerup_humidity_present) == \"undefined\") context.global.powerup_humidity_present = '';\nif (typeof(context.global.powerup_humidity_high) == \"undefined\") context.global.powerup_humidity_high = '';\nif (typeof(context.global.powerup_humidity_low) == \"undefined\") context.global.powerup_humidity_low = '';\nif (typeof(context.global.powerup_humidity_average) == \"undefined\") context.global.powerup_humidity_average = '';\nif (typeof(context.global.powerup_humidity_readings) == \"undefined\") context.global.powerup_humidity_readings = 0;\nif (typeof(context.global.powerup_humidity_totals) == \"undefined\") context.global.powerup_humidity_totals = 0;\nif (typeof(context.global.powerup_humidity_time_present) == \"undefined\") context.global.powerup_humidity_time_present = '';\nif (typeof(context.global.powerup_humidity_time_start) == \"undefined\") context.global.powerup_humidity_time_start = '';\n\nif (typeof(context.global.update_oneumppm_present) == \"undefined\") context.global.update_oneumppm_present = '';\nif (typeof(context.global.update_oneumppm_high) == \"undefined\") context.global.update_oneumppm_high = '';\nif (typeof(context.global.update_oneumppm_low) == \"undefined\") context.global.update_oneumppm_low = '';\nif (typeof(context.global.update_oneumppm_average) == \"undefined\") context.global.update_oneumppm_average = '';\nif (typeof(context.global.update_oneumppm_readings) == \"undefined\") context.global.update_oneumppm_readings = 0;\nif (typeof(context.global.update_oneumppm_totals) == \"undefined\") context.global.update_oneumppm_totals = 0;\nif (typeof(context.global.update_oneumppm_time_present) == \"undefined\") context.global.update_oneumppm_time_present = '';\nif (typeof(context.global.update_oneumppm_time_start) == \"undefined\") context.global.update_oneumppm_time_start = '';\n\nif (typeof(context.global.powerup_oneumppm_present) == \"undefined\") context.global.powerup_oneumppm_present = '';\nif (typeof(context.global.powerup_oneumppm_high) == \"undefined\") context.global.powerup_oneumppm_high = '';\nif (typeof(context.global.powerup_oneumppm_low) == \"undefined\") context.global.powerup_oneumppm_low = '';\nif (typeof(context.global.powerup_oneumppm_average) == \"undefined\") context.global.powerup_oneumppm_average = '';\nif (typeof(context.global.powerup_oneumppm_readings) == \"undefined\") context.global.powerup_oneumppm_readings = 0;\nif (typeof(context.global.powerup_oneumppm_totals) == \"undefined\") context.global.powerup_oneumppm_totals = 0;\nif (typeof(context.global.powerup_oneumppm_time_present) == \"undefined\") context.global.powerup_oneumppm_time_present = '';\nif (typeof(context.global.powerup_oneumppm_time_start) == \"undefined\") context.global.powerup_oneumppm_time_start = '';\n\nif (typeof(context.global.update_ch4ppm_present) == \"undefined\") context.global.update_ch4ppm_present = '';\nif (typeof(context.global.update_ch4ppm_high) == \"undefined\") context.global.update_ch4ppm_high = '';\nif (typeof(context.global.update_ch4ppm_low) == \"undefined\") context.global.update_ch4ppm_low = '';\nif (typeof(context.global.update_ch4ppm_average) == \"undefined\") context.global.update_ch4ppm_average = '';\nif (typeof(context.global.update_ch4ppm_readings) == \"undefined\") context.global.update_ch4ppm_readings = 0;\nif (typeof(context.global.update_ch4ppm_totals) == \"undefined\") context.global.update_ch4ppm_totals = 0;\nif (typeof(context.global.update_ch4ppm_time_present) == \"undefined\") context.global.update_ch4ppm_time_present = '';\nif (typeof(context.global.update_ch4ppm_time_start) == \"undefined\") context.global.update_ch4ppm_time_start = '';\n\nif (typeof(context.global.powerup_ch4ppm_present) == \"undefined\") context.global.powerup_ch4ppm_present = '';\nif (typeof(context.global.powerup_ch4ppm_high) == \"undefined\") context.global.powerup_ch4ppm_high = '';\nif (typeof(context.global.powerup_ch4ppm_low) == \"undefined\") context.global.powerup_ch4ppm_low = '';\nif (typeof(context.global.powerup_ch4ppm_average) == \"undefined\") context.global.powerup_ch4ppm_average = '';\nif (typeof(context.global.powerup_ch4ppm_readings) == \"undefined\") context.global.powerup_ch4ppm_readings = 0;\nif (typeof(context.global.powerup_ch4ppm_totals) == \"undefined\") context.global.powerup_ch4ppm_totals = 0;\nif (typeof(context.global.powerup_ch4ppm_time_present) == \"undefined\") context.global.powerup_ch4ppm_time_present = '';\nif (typeof(context.global.powerup_ch4ppm_time_start) == \"undefined\") context.global.powerup_ch4ppm_time_start = '';\n\nif (typeof(context.global.update_coppm_present) == \"undefined\") context.global.update_coppm_present = '';\nif (typeof(context.global.update_coppm_high) == \"undefined\") context.global.update_coppm_high = '';\nif (typeof(context.global.update_coppm_low) == \"undefined\") context.global.update_coppm_low = '';\nif (typeof(context.global.update_coppm_average) == \"undefined\") context.global.update_coppm_average = '';\nif (typeof(context.global.update_coppm_readings) == \"undefined\") context.global.update_coppm_readings = 0;\nif (typeof(context.global.update_coppm_totals) == \"undefined\") context.global.update_coppm_totals = 0;\nif (typeof(context.global.update_coppm_time_present) == \"undefined\") context.global.update_coppm_time_present = '';\nif (typeof(context.global.update_coppm_time_start) == \"undefined\") context.global.update_coppm_time_start = '';\n\nif (typeof(context.global.powerup_coppm_present) == \"undefined\") context.global.powerup_coppm_present = '';\nif (typeof(context.global.powerup_coppm_high) == \"undefined\") context.global.powerup_coppm_high = '';\nif (typeof(context.global.powerup_coppm_low) == \"undefined\") context.global.powerup_coppm_low = '';\nif (typeof(context.global.powerup_coppm_average) == \"undefined\") context.global.powerup_coppm_average = '';\nif (typeof(context.global.powerup_coppm_readings) == \"undefined\") context.global.powerup_coppm_readings = 0;\nif (typeof(context.global.powerup_coppm_totals) == \"undefined\") context.global.powerup_coppm_totals = 0;\nif (typeof(context.global.powerup_coppm_time_present) == \"undefined\") context.global.powerup_coppm_time_present = '';\nif (typeof(context.global.powerup_coppm_time_start) == \"undefined\") context.global.powerup_coppm_time_start = '';\n\n\nmsg.payload = \"globals initialized\";\nreturn msg;","outputs":1,"noerr":0,"x":580.8888854980469,"y":56.88888744660403,"z":"91f527c9.6e0ad8","wires":[["914b8d2a.6eb47"]]},{"id":"914b8d2a.6eb47","type":"debug","name":"","active":true,"console":"false","complete":"false","x":783.8888854980469,"y":56.88888744660403,"z":"91f527c9.6e0ad8","wires":[]},{"id":"1ccbb5e9.e3344a","type":"inject","name":"Run PPD42NS","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":true,"x":158.88888549804688,"y":892.7777557373047,"z":"91f527c9.6e0ad8","wires":[["edd6f71f.122908"]]},{"id":"933fc32.f6cc04","type":"debug","name":"","active":true,"console":"false","complete":"false","x":609.888916015625,"y":879.7777500564673,"z":"91f527c9.6e0ad8","wires":[]},{"id":"edd6f71f.122908","type":"exec","command":"PPD42NS","addpay":false,"append":"7 15000 30000","useSpawn":"","name":"Read PPD42NS","x":376.77777099609375,"y":892.7777500564673,"z":"91f527c9.6e0ad8","wires":[["933fc32.f6cc04","b87b59fa.4784a8"],[],[]]},{"id":"b87b59fa.4784a8","type":"function","name":"Read Dust Sensor & Update Stats","func":"// First, let's make sure this is a valid reading.  Anything that is zero (0) is a fail (reject)\nvar temp_reading = Math.round(msg.payload);\nif (temp_reading === 0) return msg.payload;\n\nif (typeof(context.global.update_oneumppm_present) == \"undefined\") context.global.update_oneumppm_present = '';\nif (typeof(context.global.update_oneumppm_high) == \"undefined\") context.global.update_oneumppm_high = '';\nif (typeof(context.global.update_oneumppm_low) == \"undefined\") context.global.update_oneumppm_low = '';\nif (typeof(context.global.update_oneumppm_average) == \"undefined\") context.global.update_oneumppm_average = '';\nif (typeof(context.global.update_oneumppm_readings) == \"undefined\") context.global.update_oneumppm_readings = 0;\nif (typeof(context.global.update_oneumppm_totals) == \"undefined\") context.global.update_oneumppm_totals = 0;\nif (typeof(context.global.update_oneumppm_time_present) == \"undefined\") context.global.update_oneumppm_time_present = '';\nif (typeof(context.global.update_oneumppm_time_start) == \"undefined\") context.global.update_oneumppm_time_start = '';\n\nif (typeof(context.global.powerup_oneumppm_present) == \"undefined\") context.global.powerup_oneumppm_present = '';\nif (typeof(context.global.powerup_oneumppm_high) == \"undefined\") context.global.powerup_oneumppm_high = '';\nif (typeof(context.global.powerup_oneumppm_low) == \"undefined\") context.global.powerup_oneumppm_low = '';\nif (typeof(context.global.powerup_oneumppm_average) == \"undefined\") context.global.powerup_oneumppm_average = '';\nif (typeof(context.global.powerup_oneumppm_readings) == \"undefined\") context.global.powerup_oneumppm_readings = 0;\nif (typeof(context.global.powerup_oneumppm_totals) == \"undefined\") context.global.powerup_oneumppm_totals = 0;\nif (typeof(context.global.powerup_oneumppm_time_present) == \"undefined\") context.global.powerup_oneumppm_time_present = '';\nif (typeof(context.global.powerup_oneumppm_time_start) == \"undefined\") context.global.powerup_oneumppm_time_start = '';\n\n\ncontext.global.update_oneumppm_readings += 1;\ncontext.global.powerup_oneumppm_readings += 1;\n\n\n// now time to round it up to the nearest whole number\ncontext.global.update_oneumppm_present = Math.round(msg.payload);\ncontext.global.powerup_oneumppm_present = Math.round(msg.payload);\n\nnode.warn('update_oneumppm_present:'+context.global.update_oneumppm_present);\n\ncontext.global.update_oneumppm_totals += context.global.update_oneumppm_present;\ncontext.global.powerup_oneumppm_totals += context.global.powerup_oneumppm_present;\n\nif (context.global.update_oneumppm_readings != \"0\") context.global.update_oneumppm_average = Math.round(context.global.update_oneumppm_totals / context.global.update_oneumppm_readings);\nelse context.global.update_oneumppm_average = context.global.update_oneumppm_present;\n\nif (context.global.powerup_oneumppm_readings != \"0\") context.global.powerup_oneumppm_average = Math.round(context.global.powerup_oneumppm_totals / context.global.powerup_oneumppm_readings);\nelse context.global.powerup_oneumppm_average = context.global.powerup_oneumppm_present;\n\n// Assign low and highs for update and powerup settings\n// Handle any first pass initialization of low and high\nif (context.global.update_oneumppm_high === '') context.global.update_oneumppm_high = context.global.update_oneumppm_present;\nif (context.global.update_oneumppm_low === '') context.global.update_oneumppm_low = context.global.update_oneumppm_present;\nif (context.global.update_oneumppm_present >= context.global.update_oneumppm_high) context.global.update_oneumppm_high = context.global.update_oneumppm_present;\nif (context.global.update_oneumppm_present <= context.global.update_oneumppm_low) context.global.update_oneumppm_low = context.global.update_oneumppm_present;\n\nif (context.global.powerup_oneumppm_high === '') context.global.powerup_oneumppm_high = context.global.powerup_oneumppm_present;\nif (context.global.powerup_oneumppm_low === '') context.global.powerup_oneumppm_low = context.global.powerup_oneumppm_present;\nif (context.global.powerup_oneumppm_present >= context.global.powerup_oneumppm_high) context.global.powerup_oneumppm_high = context.global.powerup_oneumppm_present;\nif (context.global.powerup_oneumppm_present <= context.global.powerup_oneumppm_low) context.global.powerup_oneumppm_low = context.global.powerup_oneumppm_present;\n\n\n// Update timestamps.\nvar d = new Date();\nvar n = d.toISOString();\ncontext.global.update_oneumppm_time_present = n;\ncontext.global.powerup_oneumppm_time_present = n;\n\nif (context.global.update_oneumppm_time_start === '') context.global.update_oneumppm_time_start = n;\nif (context.global.powerup_oneumppm_time_start === '') context.global.powerup_oneumppm_time_start = n;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":649.77783203125,"y":936.3333435058594,"z":"91f527c9.6e0ad8","wires":[["284812f1.d7b7ee"]]},{"id":"284812f1.d7b7ee","type":"debug","name":"","active":false,"console":"false","complete":"false","x":910.77783203125,"y":936.5556335449219,"z":"91f527c9.6e0ad8","wires":[]},{"id":"31b1879b.ce4e78","type":"comment","name":"PPD42NS (1um particulates) Sensor Collector","info":"Sensor is to create Digital (Lo Pulse) output to Particulate Matters (PM).\nLo Pulse Occupancy time (LPO time) is in proportion to PM concentration. \nThe output is for PM whose size is around 1 micro meter or larger. \n\nSyntax: PPD42NS pin sample_time(ms) timeout (ms)\nexample: PPD42NS 16 15000 30000\n\n\nModel PPD42NS\nDetectable particle size: approx. 1μm (minimum.) Detectable range of concentration 0~28,000 pcs/liter (0~8,000pcs/0.01 CF=283ml)\nSupply Voltage: DC5V +/- 10% (CN1:Pin1=GND, Pin3=+5V). Ripple Voltage within 30mV Operating Temperature Range 0~45°C\nOperating Humidity Range: 95%rh or less (without dew condensation) Power consumption 90mA\nStorage temperature: -30~60°C Time for stabilization 1 minute after power turned on\nDimensions: 59(W) × 45(H) × 22(D) [mm] Weight 24g(approx.)\nOutput Method: Negative Logic, Digital output,Hi : over 4.0V(Rev.2) Lo : under 0.7V\n(As Input impedance : 200kΩ) OP-Amp output, Pull-up resistor : 10kΩ","x":235.77777099609375,"y":942.7778167724609,"z":"91f527c9.6e0ad8","wires":[]},{"id":"cb23d942.34dc28","type":"inject","name":"Run Interval-Based M2X Updates","topic":"","payload":"","payloadType":"none","repeat":"1800","crontab":"","once":false,"x":204.7777099609375,"y":1352.5556259155273,"z":"91f527c9.6e0ad8","wires":[["e233910b.1dcc7","2238a74c.ddc758"]]},{"id":"e8b58890.174a78","type":"comment","name":"M2X Updates Flow","info":"This flow packages the collected readings (see context.global.variables) in a JSON format and sends them to the AT&T M2X platform for storage and additional process (data mining).","x":161.7777099609375,"y":1443.555564880371,"z":"91f527c9.6e0ad8","wires":[]},{"id":"b3a87d9e.4c578","type":"http request","name":"POST Readings to M2X","method":"POST","ret":"obj","url":"","x":674.7777099609375,"y":1307.5556259155273,"z":"91f527c9.6e0ad8","wires":[["6235b2d7.9dca4c","63b1e31a.9c4e1c"]]},{"id":"6235b2d7.9dca4c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":910.7777099609375,"y":1345.5556259155273,"z":"91f527c9.6e0ad8","wires":[]},{"id":"e233910b.1dcc7","type":"function","name":"M2X Prep","func":"var d = new Date();\nvar n = d.toISOString();\n\nvar payloadString = '{ \"values\": { ' +\n\t\t\t\t\t'\"LANIP\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.LANIP + '\" } ], ' +\n\t\t\t\t\t'\"WLANIP\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.WLANIP + '\" } ], ' +\n\t\t\t\t\t'\"WWANIP\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.WWANIP + '\" } ], ' +\n\t\t\t\t\t'\"temperature_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_present + '\" } ], ' +\n\t\t\t\t\t'\"temperature_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_high + '\" } ], ' +\n\t\t\t\t\t'\"temperature_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_low + '\" } ], ' +\n\t\t\t\t\t'\"temperature_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_average + '\" } ], ' +\n\t\t\t\t\t'\"temperature_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_readings + '\" } ], ' +\n\t\t\t\t\t'\"temperature_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_totals + '\" } ], ' +\n\t\t\t\t\t'\"temperature_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_time_present + '\" } ], ' +\n\t\t\t\t\t'\"temperature_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_time_start + '\" } ], ' +\n\t\t\t\t\t'\"humidity_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_present + '\" } ], ' +\n\t\t\t\t\t'\"humidity_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_high + '\" } ], ' +\n\t\t\t\t\t'\"humidity_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_low + '\" } ], ' +\n\t\t\t\t\t'\"humidity_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_average + '\" } ], ' +\n\t\t\t\t\t'\"humidity_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_readings + '\" } ], ' +\n\t\t\t\t\t'\"humidity_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_totals + '\" } ], ' +\n\t\t\t\t\t'\"humidity_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_time_present + '\" } ], ' +\n\t\t\t\t\t'\"humidity_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_time_start + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_present + '\" } ], ' +\t\t\t\t\t\n\t\t\t\t\t'\"ch4ppm_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_high + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_low + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_average + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_readings + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_totals + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_time_present + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_time_start + '\" } ], ' +\n\t\t\t\t\t'\"coppm_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_present + '\" } ], ' +\t\t\t\t\t\n\t\t\t\t\t'\"coppm_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_high + '\" } ], ' +\n\t\t\t\t\t'\"coppm_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_low + '\" } ], ' +\n\t\t\t\t\t'\"coppm_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_average + '\" } ], ' +\n\t\t\t\t\t'\"coppm_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_readings + '\" } ], ' +\n\t\t\t\t\t'\"coppm_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_totals + '\" } ], ' +\n\t\t\t\t\t'\"coppm_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_time_present + '\" } ], ' +\n\t\t\t\t\t'\"coppm_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_time_start + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_present + '\" } ], ' +\t\t\t\t\t\n\t\t\t\t\t'\"oneumppm_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_high + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_low + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_average + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_readings + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_totals + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_time_present + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_time_start + '\" } ] } }';\n\n\nmsg.payload = payloadString;\nnode.warn(\"M2X Prep:end:msg.payload:\"+msg.payload);\n\nmsg.topic = \"devices\"; // The type of object to act on - distribution,device,chart.key.\nmsg.action = \"postMultiple\";\nmsg.topic_id = '7b89eb85109f8bc74591f0b1fc5a322f';\nmsg.url = 'https://api-m2x.att.com/v2/devices/7b89eb85109f8bc74591f0b1fc5a322f/updates';\nmsg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : 'c1fe84a3ee5fbe2a2ddfaa97098e139d'};\n\nreturn msg;","outputs":1,"noerr":0,"x":474.7777099609375,"y":1307.5556259155273,"z":"91f527c9.6e0ad8","wires":[["b3a87d9e.4c578"]]},{"id":"3eee1265.c111ee","type":"http request","name":"POST to AT&T Flow","method":"POST","ret":"obj","url":"","x":624.7777099609375,"y":1517.5556030273438,"z":"91f527c9.6e0ad8","wires":[["5c7fad3f.a38054"]]},{"id":"5c7fad3f.a38054","type":"debug","name":"","active":true,"console":"false","complete":"false","x":875.7777709960938,"y":1517.5556030273438,"z":"91f527c9.6e0ad8","wires":[]},{"id":"89e28937.761d78","type":"function","name":"AT&T Flow Prep","func":"var d = new Date();\nvar n = d.toISOString();\n\nvar payloadString = '{ \"command\":\"update\", \"deviceid\":\"' + context.global.m2x_device_id +'\", \"m2x_values\": {\"values\": { ' +\n\t\t\t\t\t'\"LANIP\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.LANIP + '\" } ], ' +\n\t\t\t\t\t'\"WLANIP\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.WLANIP + '\" } ], ' +\n\t\t\t\t\t'\"WWANIP\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.WWANIP + '\" } ], ' +\n\t\t\t\t\t'\"temperature_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_present + '\" } ], ' +\n\t\t\t\t\t'\"temperature_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_high + '\" } ], ' +\n\t\t\t\t\t'\"temperature_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_low + '\" } ], ' +\n\t\t\t\t\t'\"temperature_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_average + '\" } ], ' +\n\t\t\t\t\t'\"temperature_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_readings + '\" } ], ' +\n\t\t\t\t\t'\"temperature_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_totals + '\" } ], ' +\n\t\t\t\t\t'\"temperature_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_time_present + '\" } ], ' +\n\t\t\t\t\t'\"temperature_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_temperature_time_start + '\" } ], ' +\n\t\t\t\t\t'\"humidity_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_present + '\" } ], ' +\n\t\t\t\t\t'\"humidity_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_high + '\" } ], ' +\n\t\t\t\t\t'\"humidity_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_low + '\" } ], ' +\n\t\t\t\t\t'\"humidity_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_average + '\" } ], ' +\n\t\t\t\t\t'\"humidity_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_readings + '\" } ], ' +\n\t\t\t\t\t'\"humidity_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_totals + '\" } ], ' +\n\t\t\t\t\t'\"humidity_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_time_present + '\" } ], ' +\n\t\t\t\t\t'\"humidity_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_humidity_time_start + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_present + '\" } ], ' +\t\t\t\t\t\n\t\t\t\t\t'\"ch4ppm_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_high + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_low + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_average + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_readings + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_totals + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_time_present + '\" } ], ' +\n\t\t\t\t\t'\"ch4ppm_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_ch4ppm_time_start + '\" } ], ' +\n\t\t\t\t\t'\"coppm_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_present + '\" } ], ' +\t\t\t\t\t\n\t\t\t\t\t'\"coppm_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_high + '\" } ], ' +\n\t\t\t\t\t'\"coppm_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_low + '\" } ], ' +\n\t\t\t\t\t'\"coppm_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_average + '\" } ], ' +\n\t\t\t\t\t'\"coppm_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_readings + '\" } ], ' +\n\t\t\t\t\t'\"coppm_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_totals + '\" } ], ' +\n\t\t\t\t\t'\"coppm_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_time_present + '\" } ], ' +\n\t\t\t\t\t'\"coppm_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_coppm_time_start + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_present + '\" } ], ' +\t\t\t\t\t\n\t\t\t\t\t'\"oneumppm_high\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_high + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_low\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_low + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_average\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_average + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_readings\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_readings + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_totals\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_totals + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_time_present\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_time_present + '\" } ], ' +\n\t\t\t\t\t'\"oneumppm_time_start\": [ { \"timestamp\": \"' + n + '\", \"value\": \"' + context.global.update_oneumppm_time_start + '\" } ] } }';\n\nmsg.payload = payloadString;\n\nmsg.url = 'http://api-flow.att.io/sandbox/goodair/kj4849/in/flow/ws/devices';\nmsg.headers = {'Content-Type' : 'application/json'};\n\nnode.warn(\"AT&T Flow Prep:end:msg.payload:\"+msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":395.7777099609375,"y":1517.5556030273438,"z":"91f527c9.6e0ad8","wires":[["3eee1265.c111ee","2856a203.d7a95e","d9cd3b79.2632c8"]]},{"id":"248e9949.db7166","type":"function","name":"Parse Payload","func":"var d = new Date();\nvar n = d.toISOString();\n//node.warn(msg.payload);\nvar JSONObj = JSON.parse(msg.payload);\n\nnode.warn('JSONObj.values.temperature[0].value:'+JSONObj.values.temperature[0].value);\nnode.warn('JSONObj.values.humidity[0].value:'+JSONObj.values.humidity[0].value);\n\nreturn msg;","outputs":1,"x":807.6666564941406,"y":1565.4443969726562,"z":"91f527c9.6e0ad8","wires":[["aef33c58.510cc"]]},{"id":"aef33c58.510cc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1008.6666870117188,"y":1566.4443969726562,"z":"91f527c9.6e0ad8","wires":[]},{"id":"a8789690.578768","type":"comment","name":"AT&T Flow Updates Flow (alternate to M2X)","info":"This flow packages the collected readings (see context.global.variables) in a JSON format and sends them to the AT&T Flow platform for further processing and optional storage in M2X.","x":245.66659545898438,"y":1560.4443969726562,"z":"91f527c9.6e0ad8","wires":[]},{"id":"63b1e31a.9c4e1c","type":"function","name":"Re-Init update variables","func":"var d = new Date();\nvar n = d.toISOString();\n// incoming msg.payload is a JSON object, because we requested this when we called M2X.\nif (msg.payload.status == 'accepted') {\n    context.global.update_temperature_present = '';\n    context.global.update_temperature_high = '';\n    context.global.update_temperature_low = '';\n    context.global.update_temperature_average = '';\n    context.global.update_temperature_readings = 0;\n    context.global.update_temperature_totals = 0;\n    context.global.update_temperature_time_present = '';\n    context.global.update_temperature_time_start = '';\n    \n    context.global.update_humidity_present = '';\n    context.global.update_humidity_high = '';\n    context.global.update_humidity_low = '';\n    context.global.update_humidity_average = '';\n    context.global.update_humidity_readings = 0;\n    context.global.update_humidity_totals = 0;\n    context.global.update_humidity_time_present = '';\n    context.global.update_humidity_time_start = '';\n    \n    context.global.update_oneumppm_present = '';\n    context.global.update_oneumppm_high = '';\n    context.global.update_oneumppm_low = '';\n    context.global.update_oneumppm_average = '';\n    context.global.update_oneumppm_readings = 0;\n    context.global.update_oneumppm_totals = 0;\n    context.global.update_oneumppm_time_present = '';\n    context.global.update_oneumppm_time_start = '';\n    \n    msg.payload = \"globals initialized\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":939.666748046875,"y":1307.444480895996,"z":"91f527c9.6e0ad8","wires":[["572eb1e9.a8d15"]]},{"id":"6a671a98.9598e4","type":"template","name":"HTML5+JS+CSS3","field":"","format":"html","template":"<!DOCTYPE html> \n<!--\n  Copyright 2015 Kevin W. Jones.\n\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<head>\n\t<meta charset=\"utf-8\" />  \n\t<title>GoodAir</title> \n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, user-scalable=no\">\n\t<meta name=\"author\" content=\"Kevin Wray Jones\">\n\t<meta name=\"apple-mobile-web-app-capable\" content=\"yes\" /> \n\t<meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black\" />\n\t<!-- iPhone ICON -->\n\t<link href=\"img/icons/ga_57x57.png\" sizes=\"57x57\" rel=\"apple-touch-icon-precomposed\">\n\t<!-- iPad ICON-->\n\t<link href=\"img/icons/ga_72x72.png\" sizes=\"72x72\" rel=\"apple-touch-icon-precomposed\">\n\t<!-- iPhone (Retina) ICON-->\n\t<link href=\"img/icons/ga_114x114.png\" sizes=\"114x114\" rel=\"apple-touch-icon-precomposed\">\n\t<!-- iPad (Retina) ICON-->\n\t<link href=\"img/icons/ga_144x144.png\" sizes=\"144x144\" rel=\"apple-touch-icon-precomposed\">\n\t<meta name=\"description\" content=\"\">\n\t<meta name=\"author\" content=\"\">\n\t<link rel=\"icon\" href=\"img/icons/favicon.ico\" type=\"image/x-icon\">\n\t<link rel=\"shortcut icon\" href=\"img/icons/favicon.ico\" />\n\n\t<!-- Latest compiled and minified CSS -->\n\t<link rel=\"stylesheet\" href=\"css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"fontawesome/css/font-awesome.min.css\">\n\t<link rel=\"stylesheet\" href=\"css/bootswatch/flatly.min.css\">\n\t<!--\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/journal/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/sandstone/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css\">\n\t-->\n\t<style>\n\ta {\n\t\tcolor: White;\n\t}\n\ta:hover {\n\t\tcolor: Black;\n\t}\n\t#intro {\n\t\tcolor: White;\n\t}\n\t#finis {\n\t\tcolor: DarkOrange;\n\t}\n\t.DarkOrange {\n\t\tcolor: DarkOrange;\n\t}\n\t.DarkOrangeBG {\n\t\tbackground: DarkOrange;\n\t}\n\t.Orange {\n\t\tcolor: Orange;\n\t}\n\t.OrangeBG {\n\t\tbackground: Orange;\n\t}\n\t.Green {\n\t\tcolor: Green;\n\t}\n\t.GreenBG {\n\t\tbackground: Green;\n\t}\n\t.LightSeaGreen {\n\t\tcolor: LightSeaGreen;\n\t}\n\t.DarkBlue {\n\t\tcolor: DarkBlue;\n\t}\n\t.Blue {\n\t\tcolor: Blue;\n\t}\n\t.DeepSkyBlue {\n\t\tcolor: DeepSkyBlue;\n\t}\n\t.DeepSkyBlueBG {\n\t\tbackground: DeepSkyBlue;\n\t}\n\t.Magenta {\n\t\tcolor: Magenta;\n\t}\n\t.MagentaBG {\n\t\tbackground: Magenta;\n\t}\n\t.Violet {\n\t\tcolor: Violet;\n\t}\n\t.VioletBG {\n\t\tbackground: Violet;\n\t}\n\t.LightSkyBlue {\n\t\tcolor: LightSkyBlue;\n\t}\n\t.LightSlateGray  {\n\t\tcolor: LightSlateGray \n\t}\n\t.Snow {\n\t\tcolor: Snow;\n\t}\n\t.White {\n\t\tcolor: White;\n\t}\n\t.WhiteBG {\n\t\tbackground: White;\n\t}\n\t.Red {\n\t\tcolor: Red;\n\t}\n\t.RedBG {\n\t\tbackground: Red;\n\t}\n\t.Gray {\n\t\tcolor: Gray;\n\t}\n\t.GrayBG {\n\t\tbackground: Gray;\n\t}\n\t.Black {\n\t\tcolor: Black;\n\t}\n\t.BlackBG {\n\t\tbackground: Black;\n\t}\n\t.SaddleBrown {\n\t\tcolor: SaddleBrown;\n\t}\n\t.SaddleBrownBG {\n\t\tbackground: SaddleBrown;\n\t}\n\t.OrangeRed  {\n\t\tcolor: OrangeRed;\n\t}\n\t.OrangeRedBG {\n\t\tbackground: OrangeRed;\n\t}\n\t#map_canvas{height:350px;}\n\n\t</style>\n\t<!--<script src=\"http://jsconsole.com/remote.js?kwj12345\"></script> -->\n\t<!---\n\t<script src=\"https://code.jquery.com/jquery-2.1.4.js\"></script>\t\n\t<script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false\" type=\"text/javascript\" ></script>\n\t<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js\"></script>\t\n\t-->\n\t<script src=\"js/jquery-2.1.4.min.js\"></script>\t\n\t<script src=\"js/googlemaps.js\"></script>\n\t<script src=\"js/bootstrap.min.js\"></script>\t\n\t<script src=\"js/spin.min.js\"></script>\n\n</head>\n<body>\n<div id=\"mainBody\" style=\"display:block;\">\n\t<div id=\"spinner\" style=\"display:none;\"></div>\n\t<div class=\"container\">\n\t\t<!--<div id=\"main\" class=\"col-md-4 col-md-offset-4\" style=\"display:none;\">-->\n\t\t\t<div id=\"intro\" class=\"row text-center\">\n\t\t\t\t<div class=\"col-xs-12 col-sm-6 WhiteBG\" style=\"padding:15px;\">\n\t\t\t\t\t<h1 style=\"margin-top:-10px;\"><span style=\"color: LightSlateGray\">Good</span><span style=\"color: DeepSkyBlue\">Air</span><br>&nbsp;</h1>\n\t\t\t\t\t<h4 style=\"margin-top:-45px;\"><span style=\"color: LightSlateGray\">An AT&amp;T MSS Connected Solution</span></h4>\n\t\t\t\t\t<span id=\"networkDiv\" style=\"padding-right:20px;\">\n\t\t\t\t\t\t<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>\n\t\t\t\t\t</span>\n\t\t\t\t\t<span style=\"padding-right:20px;\"><button class=\"btn btn-success text-center\" onclick=\"getReadings()\"><i class=\"fa fa-refresh fa-2x\"></i></button></span>\n\t\t\t\t\t<span style=\"padding-right:20px;\"><button class=\"btn btn-warning text-center\" onclick=\"openHelpModal()\"><i class=\"fa fa-life-ring fa-2x\"></i></button></span>\n\t\t\t\t\t<button class=\"btn btn-info text-center\" onclick=\"openInfoModal()\"><i class=\"fa fa-info-circle fa-2x\"></i></button>\n\t\t\t\t</div>\n\t\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t\t<a href=\"javascript:openParticulatesModal();\">\n\t\t\t\t\t<div class=\"col-xs-12 col-sm-6 GreenBG\" style=\"padding:15px;\">\n\t\t\t\t\t\t<div class=\"pull-left\"><img src=\"img/air01.png\" /></div>\n\t\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">&nbsp;PPM&nbsp;</span><span id=\"oneumppm\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t\t<a href=\"javascript:openTemperatureModal();\">\n\t\t\t\t\t<div class=\"col-xs-12 col-sm-6 RedBG\" style=\"padding:15px;\">\n\t\t\t\t\t\t<div class=\"pull-left\"><img src=\"img/thermometer01.png\" /></div>\n\t\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">&deg;C&nbsp;</span><span id=\"temperature\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t\t<a href=\"javascript:openHumidityModal();\">\n\t\t\t\t\t<div class=\"col-xs-12 col-sm-6 DeepSkyBlueBG\" style=\"padding:15px;\">\n\t\t\t\t\t\t<div class=\"pull-left\"><img src=\"img/humidity01.png\" /></div>\n\t\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">%&nbsp;</span><span id=\"humidity\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t\t<a href=\"javascript:openCOModal();\">\n\t\t\t\t\t<div class=\"col-xs-12 col-sm-6 BlackBG\" style=\"padding:15px;\">\n\t\t\t\t\t\t<div class=\"pull-left\"><img src=\"img/co02.png\" /></div>\n\t\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">%&nbsp;</span><span id=\"co\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t\t<a href=\"javascript:openCH4Modal();\">\n\t\t\t\t\t<div class=\"col-xs-12 col-sm-6 OrangeBG\" style=\"padding:15px;\">\n\t\t\t\t\t\t<div class=\"pull-left\"><img src=\"img/ch401.png\" /></div>\n\t\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">%&nbsp;</span><span id=\"ch4\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t\t<a href=\"javascript:showMap('map_canvas');\">\n\t\t\t\t\t<div class=\"col-xs-12 col-sm-6 SaddleBrownBG\" style=\"padding:15px;\">\n\t\t\t\t\t\t<div class=\"pull-left\"><img src=\"img/location01.png\" /></div>\n\t\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\" id=\"latitude\">44.974</span><br><span class=\"pull-right\" id=\"longitude\">-93.273</span></h1></div>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t\t<a href=\"javascript:openSettingsModal();\">\n\t\t\t\t\t<div class=\"col-xs-12 col-sm-6 GrayBG\" style=\"padding:15px;\">\n\t\t\t\t\t\t<div class=\"pull-left\"><img src=\"img/charts01.png\" /></div>\n\t\t\t\t\t\t<div class=\"pull-right\" id=\"settings\"><h1>Analysis &amp;<br>Device Info</h1></div>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t</div>\n\t\t\t<div style=\"display:none;\">\n\t\t\t\t<input type=\"hidden\" class=\"devicename\" value=\"GoodAir\" />\n\t\t\t\t<input type=\"hidden\" class=\"deviceid\" value=\"ABCDEFGHIJK123\" />\n\t\t\t\t<input type=\"hidden\" class=\"deviceaddress\" value=\"901 Marquette Ave S\" />\n\t\t\t\t<input type=\"hidden\" class=\"devicecity\" value=\"Minneapolis\" />\n\t\t\t\t<input type=\"hidden\" class=\"latitude\" value=\"44.9740366\" />\n\t\t\t\t<input type=\"hidden\" class=\"longitude\" value=\"-93.2725678\" />\n\t\t\t</div>\n\t\t\t<div id=\"footer\" class=\"text-center\" style=\"padding-top:20px;padding-bottom:20px;\">\n\t\t\t\t<br>\n\t\t\t\t<span class=\"text-center\">&copy; 2015 Kevin W. Jones.</span>\n\t\t\t</div>\n\t\t<!--</div>-->\n\t</div>\n\t<div class=\"modal\" data-backdrop=\"static\" id=\"splashModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<!--<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button> -->\n\t\t\t\t\t<h2 class=\"text-center\"><img src=\"img/att_logo_64x64.png\" style=\"width:48px;align-left;margin-top:-10px;padding-right:10px;\">AT&amp;T GoodAir</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body\">\n\t\t\t\t\t<div id=\"splashBody\" style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p class=\"lead\">You will be asked for your email address and to provide answers to three questions.</p><p class=\"lead\">Your email &amp; answers will be used to identify you at an AT&amp;T self-service kiosk should you require a device replacement.</p>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"text-center\">\n\t\t\t\t\t\t<button class=\"btn btn-success text-center\" onclick=\"closeSplashModal()\">Start</button>\n\t\t\t\t\t\t<br>\n\t\t\t\t\t</div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span class=\"text-center\">\n\t\t\t\t\t\t<small class=\"text-center\">&copy; 2015. AT&amp;T. All rights reserved.</small>\n\t\t\t\t\t</span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- splashModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"statusModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<!--<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button> -->\n\t\t\t\t\t<h2 class=\"modal-title text-center\">Status</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"statusBody\" style=\"font-size:large;color:Black;\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span>\n\t\t\t\t\t\t<div id=\"closeDiv\"><button class=\"btn btn-danger text-center\" onclick=\"closeStatusModal()\">Close</button></div>\n\t\t\t\t\t\t<div id=\"printDiv\" style=\"padding-left:20px;display:none;\"><a href=\"javascript:window.print()\" class=\"btn btn-success\">Print</a></div>\n\t\t\t\t\t</span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- statusModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"helpModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\" style=\"margin-top:-1px;\">Help</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"helpBody\" style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p>This web app connects directly to a local Good<font color=\"DeepSkyBlue\">Air</font> Connectible.</p>\n\t\t\t\t\t\t<p><font color=\"DarkBlue\"><i class=\"fa fa-refresh fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Refresh Readings.</p>\n\t\t\t\t\t\t<p><i class=\"fa fa-signal fa-lg btn-success\"></i>&nbsp;&nbsp;-&nbsp;Connection Status.</p>\n\t\t\t\t\t\t<p><font color=\"Green\"><i class=\"fa fa-th fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Particulates Detail.</p>\n\t\t\t\t\t\t<p><font color=\"Red\"><i class=\"fa fa-fire fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Temperature Detail.</p>\n\t\t\t\t\t\t<p><font color=\"DeepSkyBlue\">&nbsp;<i class=\"fa fa-tint fa-lg\"></i></font>&nbsp;&nbsp;&nbsp;-&nbsp;Humidity Detail.</p>\n\t\t\t\t\t\t<p><font color=\"DarkOrange\"><i class=\"fa fa-globe fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Location Detail.</p>\n\t\t\t\t\t\t<p><font color=\"Gray\"><i class=\"fa fa-gear fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Settings.</p>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br />\n\t\t\t\t\t<div style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p><font color=\"Orange\"><i class=\"fa fa-star fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;For best results, wait a few minutes after powering on your Good<font color=\"DeepSkyBlue\">Air</font> Connectible before retrieving readings.</p>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"text-center\">&copy; 2015 by Kevin W. Jones.</div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeHelpModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- helpModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"infoModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"modal-title text-center\">AT&amp;T Good<span style=\"color: DeepSkyBlue\">Air</span><span style=\"color: #000\">!</span></h2>\n\t\t\t\t\t<h3 class=\"modal-title text-center\">How it Works!</h3>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"infoBody\" style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p>This is the GoodAir web app that accompanies the video series which teaches you how to create an Internet of Things product (both hardware and software) using AT&amp;T&apos;s M2X IIoT platform.  This app is written using HTML5, CSS3, and JavaScript. Here's how it works:</p>\n\t\t\t\t\t\t<img src=\"img/how_it_works01.png\" width=\"300px\" style=\"float:left;padding-right:10px;\"/>\n\t\t\t\t\t\t<ol>\n\t\t\t\t\t\t\t<li>When you press the refresh <i class=\"fa fa-refresh\"></i> button, the app uses websockets to request the latest air quality information from the local GoodAir smart thing, which is a small device that sits on your desk.</li>\n\t\t\t\t\t\t\t<li>The AT&amp;T GoodAir smart thing continually measures the air quality (dust), temperature, humidity, and location (these things work anywhere, remember?).  It periodically sends sensor readings to the AT&amp;T M2X IIoT platform for storage and data analytics (mining).</li>\n\t\t\t\t\t\t\t<li>Upon receiving a request from the GoodAir web app to provide the latest readings, it sends them as a JSON-formatted string to the web app, again, using websockets.</li>\n\t\t\t\t\t\t\t<li>The GoodAir web app then parses the returned JSON data and writes each value onto the web app GUI.</li>\n\t\t\t\t\t\t</ol>\n\t\t\t\t\t\t<p>The author, Kevin Wray Jones, is an architect and mobility strategist with AT&amp;T Mobility Solutions Services.</p><p>If you'd like to learn more, contact Kevin at kj4849@att.com.</p>\n\t\t\t\t\t\t<p class=\"text-center\">&copy; 2015 Kevin W. Jones.</p>\n\t\t\t\t\t</div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeInfoModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- infoModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"networkModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Network</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"networkBody\" style=\"font-size:large;color:Black;\"></div>\n\t\t\t\t\t<div class=\"text-center\"><label>STATE:&nbsp;</label><span id=\"connectionState\"></span></div>\n\t\t\t\t\t<br />\n\t\t\t\t\t<div class=\"text-center\"><label>STATUS:&nbsp;</label><span id=\"connectionStatus\"></span></div>\n\t\t\t\t\t<div id=\"reconnect\" class=\"text-center\" style=\"display:none;\">\n\t\t\t\t\t\t<br />\n\t\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"reconnect()\">Re-Connect</button></span>\n\t\t\t\t\t</div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeNetworkModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- networkModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"particulatesModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Particulates</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current PPM:&nbsp;</label><span id=\"oneumppm1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low PPM:&nbsp;</label><span id=\"oneumppmLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High PPM:&nbsp;</label><span id=\"oneumppmHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average PPM:&nbsp;</label><span id=\"oneumppmAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"oneumppmReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"oneumppmTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"oneumppmTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeParticulatesModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- particulatesModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"temperatureModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Temperature</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current Temp:&nbsp;</label><span id=\"temperature1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low Temp:&nbsp;</label><span id=\"temperatureLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High Temp:&nbsp;</label><span id=\"temperatureHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average Temp:&nbsp;</label><span id=\"temperatureAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"temperatureReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"temperatureTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"temperatureTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeTemperatureModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- temperatureModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"humidityModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Humidity</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current Humidity:&nbsp;</label><span id=\"humidity1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low Humidity:&nbsp;</label><span id=\"humidityLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High Humidity:&nbsp;</label><span id=\"humidityHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average Humidity:&nbsp;</label><span id=\"humidityAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"humidityReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"humidityTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"humidityTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeHumidityModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- humidityModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"CH4Modal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Natural Gas (Methane)</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current PPM:&nbsp;</label><span id=\"ch4ppm1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low PPM:&nbsp;</label><span id=\"ch4ppmLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High PPM:&nbsp;</label><span id=\"ch4ppmHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average PPM:&nbsp;</label><span id=\"ch4ppmAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"ch4ppmReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"ch4ppmTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"ch4ppmTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeCH4Modal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- CH4Modal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"COModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Carbon Monoxide</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current PPM:&nbsp;</label><span id=\"coppm1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low PPM:&nbsp;</label><span id=\"coppmLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High PPM:&nbsp;</label><span id=\"coppmHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average PPM:&nbsp;</label><span id=\"coppmAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"coppmReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"coppmTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"coppmTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeCOModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- COModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"settingsModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Settings</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Hardware:&nbsp;</label><span id=\"hardware\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Revision:&nbsp;</label><span id=\"revision\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>SerialNo:&nbsp;</label><span id=\"serialno\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>LAN IP:&nbsp;</label><span id=\"LANIP\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>WLAN IP:&nbsp;</label><span id=\"WLANIP\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>WWAN IP:&nbsp;</label><span id=\"WWANIP\"></span></div>\n\t\t\t\t\t<br><br>\n\t\t\t\t\t<div id=\"settingsBody\" style=\"font-size:large;color:Black;\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeSettingsModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- humidityModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"mapModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Good<font color=\"DeepSkyBlue\">Air</font> is here!</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"map_canvas\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-success text-center\" onclick=\"closeMapModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- mapModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"fatalModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<h2 class=\"text-center\">Drat!</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-center\"><img src=\"img/smiley_drat.png\"></div>\n\t\t\t\t\t<br />\n\t\t\t\t\t<div id=\"fatalBody\" style=\"font-size:large;color:Black;\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- fatalModal -->\n</div><!-- mainBody -->\n\n<script language=\"javascript\" type=\"text/javascript\"> \n\tvar GoodAirsocket = null\n\t//var GoodAirUri = \"ws://goodair.local/ws/gas\";\n\t//var GoodAirUri = \"ws://goodair.local/ws/gas\"; \n\tvar connected = false;\n\tvar timeoutVar = null;\n\tvar timeoutSetting = 60000;\n\tvar map = null;\n\tvar markerBounds = null;\n\tvar pointCount = 0;\n\n\tvar latitude;\n\tvar longitude;\n\tvar latitudeEl;\n\tvar longitudeEl;\n\tvar browserName  = navigator.appName;\n\tvar fullVersion  = ''+parseFloat(navigator.appVersion); \n\tvar majorVersion = parseInt(navigator.appVersion,10);\n\tvar batteryLevel = 0;\n\tvar platform = navigator.platform;\n\tvar width = screen.width;\n\tvar height = screen.height;\n\tvar screenRatio;\n\tvar realWidth;\n\tvar realHeight;\n\n\tvar temperature = '0';\n\tvar temperatureHigh = '0';\n\tvar temperatureLow = '0';\n\tvar temperatureAverage = '0';\n\tvar temperatureReadings = '0';\n\tvar temperatureTotals = '0';\n\tvar temperatureTimePresent = '';\n\tvar temperatureTimeStart = '';\n\n\tvar humidity = '0';\n\tvar humidityHigh = '0';\n\tvar humidityLow = '0';\n\tvar humidityAverage = '0';\n\tvar humidityReadings = '0';\n\tvar humidityTotals = '0';\n\tvar humidityTimePresent = '';\n\tvar humidityTimeStart = '';\n\n\tvar oneumppm = '0';\n\tvar oneumppmHigh = '0';\n\tvar oneumppmLow = '0';\n\tvar oneumppmAverage = '0';\n\tvar oneumppmReadings = '0';\n\tvar oneumppmTotals = '0';\n\tvar oneumppmTimePresent = '';\n\tvar oneumppmTimeStart = '';\n\n\tvar ch4umppm = '0';\n\tvar ch4ppmHigh = '0';\n\tvar ch4ppmLow = '0';\n\tvar ch4ppmAverage = '0';\n\tvar ch4ppmReadings = '0';\n\tvar ch4ppmTotals = '0';\n\tvar ch4ppmTimePresent = '';\n\tvar ch4ppmTimeStart = '';\n\n\tvar coppm = '0';\n\tvar coppmHigh = '0';\n\tvar coppmLow = '0';\n\tvar coppmAverage = '0';\n\tvar coppmReadings = '0';\n\tvar coppmTotals = '0';\n\tvar coppmTimePresent = '';\n\tvar coppmTimeStart = '';\n\n\tvar days = '0';\n\tvar hours = '0';\n\tvar minutes = '0';\n\tvar nametag = '';\n\tvar deviceid = '';\n\n\tvar opts = {\n\t\tlines: 11, // The number of lines to draw\n\t\tlength: 33, // The length of each line\n\t\twidth: 7, // The line thickness\n\t\tradius: 60, // The radius of the inner circle\n\t\tcorners: 1, // Corner roundness (0..1)\n\t\trotate: 0, // The rotation offset\n\t\tdirection: 1, // 1: clockwise, -1: counterclockwise\n\t\tcolor: '#000', // #rgb or #rrggbb or array of colors\n\t\tspeed: 1, // Rounds per second\n\t\ttrail: 80, // Afterglow percentage\n\t\tshadow: true, // Whether to render a shadow\n\t\thwaccel: false, // Whether to use hardware acceleration\n\t\tclassName: 'spinner', // The CSS class to assign to the spinner\n\t\tzIndex: 2e9, // The z-index (defaults to 2000000000)\n\t\ttop: '50%', // Top position relative to parent\n\t\tleft: '50%' // Left position relative to parent\n\t};\n\tvar target;\n\tvar spinner;\n \n\tfunction init() { \n\n\t\ttarget = document.getElementById('spinner');\n\t\t//spinner = new Spinner(opts).spin(target);\n\t\t\n\t\t//$('#width').html(width);\n\t\t//$('#height').html(height);\n\t\t\n\t\tif (\"WebSocket\" in window) {\n\t\t\t// all is well...\n\t\t}\n\t\telse {\n\t\t\t$('#mainBody').hide();\n\t\t\t$('#fatalBody').empty();\n\t\t\t$('#fatalBody').append('Your browser does not support websockets, which is required for this demo. Please install Chrome.');\n\t\t\t$('#fatalModal').modal('show');\n\t\t\texit();\n\t\t}\n\t\t// before initializing the websocket, let's set the status to no connection.  Upon a successful connection, we'll update the status\n\t\t$('#connectionState').empty();\n\t\t$('#connectionState').append('<span style=\"color:red;\">DISCONNECTED</span>');\n\t\tconnected = false;\n\t\tconnectionState = \"Disconnected\";\n\t\t$('#networkDiv').empty();\n\t\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>');\n\t\t$('#reconnect').show();\n\t\t\n\t\t$('#temperature').html('0');\n\t\t$('#humidity').html('0');\n\t\t$('#oneumppm').html('0');\n\t\t$('#latitude').html('44.974');\n\t\t$('#longitude').html('-93.273');\n\t\tinitWebSockets();\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initializeMap);\n\t\t\n\t\t//openSplashModal();\n\t}\n\nfunction initWebSockets() { \n\tvar loc = window.location;\n\tvar newUri = '';\n\tif (loc.protocol === \"https:\") {\n\t\tnewUri = \"wss:\";\n\t} else {\n\t\tnewUri = \"ws:\";\n\t}\n\tnewUri += \"//\" + loc.host + \"/ws/goodair\";\n\tconsole.log('newUri:'+newUri);\n\ttry {\n\t\tGoodAirSocket = null;\n\t\tGoodAirSocket = new WebSocket(newUri); \n\t\tGoodAirSocket.onopen = function(evt) { onOpen(evt) };\n\t\tGoodAirSocket.onclose = function(evt) { onClose(evt) }; \n\t\tGoodAirSocket.onmessage = function(evt) { onMessage(evt) }; \n\t\tGoodAirSocket.onerror = function(evt) { onError(evt) }; \n\t}\n\tcatch (e) {\n\t\t$('#connectionState').empty();\n\t\t$('#connectionState').append('<span style=\"color:red;\">DISCONNECTED</span>');\n\t\tconnected = false;\n\t\t$('#networkDiv').empty();\n\t\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>');\n\t\t$('#reconnect').show();\n\t}\n}\nfunction onOpen(evt) { \n\t$('#connectionState').empty();\n\t$('#connectionState').append('<span style=\"color: blue;\">CONNECTED</span>');\n\twriteToScreen('<span style=\"color: blue;\">Ready for request</span>'); \n\tconnected = true;\n\t$('#networkDiv').empty();\n\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-success btn-circle\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></span></span></button>');\n\t$('#reconnect').hide();\n\tgetReadings();  // always try to get the device readings upon websocket open.\n}\nfunction onClose(evt) { \n\tstopTimeout();  // reset the timeout function.\n\t$('#connectionState').empty();\n\t$('#connectionState').append('<span style=\"color:red;\">DISCONNECTED</span>');\n\tconnected = false;\n\tresultsSoundFinished = true;\n\tpleaseWaitFinished = true;\n\t$('#networkDiv').empty();\n\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>');\n\t$('#reconnect').show();\n}\nfunction onMessage(evt) {\n\tstopTimeout();  // reset the timeout function.\n\tconsole.log('onMessage:evt.data:'+evt.data);\n\tvar JSONResponse = JSON.parse(evt.data);\n\tconsole.log('onMessage:statusCode:'+JSONResponse.statusCode);\n\tif (JSONResponse.statusCode == \"202\") {\n\t\tdeviceid = JSONResponse.deviceid;\n\t\t\n\t\t$('#hardware').html(JSONResponse.hardware);\n\t\t$('#revision').html(JSONResponse.revision);\n\t\t$('#serialno').html(JSONResponse.serialno);\n\t\t$('#LANIP').html(JSONResponse.LANIP);\n\t\t$('#WLANIP').html(JSONResponse.WLANIP);\n\t\t$('#WWANIP').html(JSONResponse.WWANIP);\n\t\t\n\t\t$('#temperature').html(JSONResponse.temperature);\n\t\t$('#temperature1').html(JSONResponse.temperature);\n\t\t$('#temperatureAverage').html(JSONResponse.temperatureaverage);\n\t\t$('#temperatureHigh').html(JSONResponse.temperaturehigh);\n\t\t$('#temperatureLow').html(JSONResponse.temperaturelow);\n\t\t$('#temperatureReadings').html(JSONResponse.temperaturereadings);\n\t\t$('#temperatureTotals').html(JSONResponse.temperaturetotals);\n\t\t$('#temperatureTimePresent').html(JSONResponse.temperaturetimepresent);\n\t\t$('#temperatureTimeStart').html(JSONResponse.temperaturetimestart);\n\t\t\n\t\t$('#humidity').html(JSONResponse.humidity);\n\t\t$('#humidity1').html(JSONResponse.humidity);\n\t\t$('#humidityAverage').html(JSONResponse.humidityaverage);\n\t\t$('#humidityHigh').html(JSONResponse.humidityhigh);\n\t\t$('#humidityLow').html(JSONResponse.humiditylow);\n\t\t$('#humidityReadings').html(JSONResponse.humidityreadings);\n\t\t$('#humidityTotals').html(JSONResponse.humiditytotals);\n\t\t$('#humidityTimePresent').html(JSONResponse.humiditytimepresent);\n\t\t$('#humidityTimeStart').html(JSONResponse.humiditytimestart);\n\t\t\n\t\t$('#oneumppm').html(JSONResponse.oneumppm);\n\t\t$('#oneumppm1').html(JSONResponse.oneumppm);\n\t\t$('#oneumppmAverage').html(JSONResponse.oneumppmaverage);\n\t\t$('#oneumppmHigh').html(JSONResponse.oneumppmhigh);\n\t\t$('#oneumppmLow').html(JSONResponse.oneumppmlow);\n\t\t$('#oneumppmReadings').html(JSONResponse.oneumppmreadings);\n\t\t$('#oneumppmTotals').html(JSONResponse.oneumppmtotals);\n\t\t$('#oneumppmTimePresent').html(JSONResponse.oneumppmtimepresent);\n\t\t$('#oneumppmTimeStart').html(JSONResponse.oneumppmtimestart);\n\t\t\n\t\t$('#ch4ppm').html(JSONResponse.ch4ppm);\n\t\t$('#ch4ppm1').html(JSONResponse.ch4ppm);\n\t\t$('#ch4ppmAverage').html(JSONResponse.ch4ppmaverage);\n\t\t$('#ch4ppmHigh').html(JSONResponse.ch4ppmhigh);\n\t\t$('#ch4ppmLow').html(JSONResponse.ch4ppmlow);\n\t\t$('#ch4ppmReadings').html(JSONResponse.ch4ppmreadings);\n\t\t$('#ch4ppmTotals').html(JSONResponse.ch4ppmtotals);\n\t\t$('#ch4ppmTimePresent').html(JSONResponse.ch4ppmtimepresent);\n\t\t$('#ch4ppmTimeStart').html(JSONResponse.ch4ppmtimestart);\n\t\t\n\t\t$('#coppm').html(JSONResponse.coppm);\n\t\t$('#coppm1').html(JSONResponse.coppm);\n\t\t$('#coppmAverage').html(JSONResponse.coppmaverage);\n\t\t$('#coppmHigh').html(JSONResponse.coppmhigh);\n\t\t$('#coppmLow').html(JSONResponse.coppmlow);\n\t\t$('#coppmReadings').html(JSONResponse.coppmreadings);\n\t\t$('#coppmTotals').html(JSONResponse.coppmtotals);\n\t\t$('#coppmTimePresent').html(JSONResponse.coppmtimepresent);\n\t\t$('#coppmTimeStart').html(JSONResponse.coppmtimestart);\n\t\t\n\t\t//writeToScreen('<span style=\"color:blue;\">Successful:' + JSONResponse.statusCode+'</span>'); \n\t}\n\telse {\n\t\twriteToScreen('<span style=\"color:red;\">Failed:' + JSONResponse.values[0].statusCode+'</span>'); \n\t\t$('#statusBody').html('<p class=\"text-center\"><span style=\"color:red\">ERROR! - Something went wrong...</span></p>' +\n\t\t\t\t\t'<p class=\"text-left\">Why this happens:'+\n\t\t\t\t\t'<ul>'+\n\t\t\t\t\t'<li>M2X Cloud is unavailable</li>'+\n\t\t\t\t\t'</ul></p>'+\n\t\t\t\t\t'<p>Recommendation: Wait a few seconds, refresh the web app and try again.</p>');\n\t\t\t\t\t\n\t\tstopTimeout();\n\t\tconnected = false;\n\t\t$('#networkDiv').empty();\n\t\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>');\n\t\t$('#reconnect').show();\n\t\topenStatusModal();\n\t}\n\n\t//websocket.close(); \n}  \nfunction onError(evt) {\n\tstopTimeout();  // reset the timeout function.\n\tconnected = false;\n\tresultsSoundFinished = true;\n\tpleaseWaitFinished = true;\n\t$('#connectionState').empty();\n\t$('#connectionState').append('<span style=\"color:red;\">DISCONNECTED</span>');\n\t$('#networkDiv').empty();\n\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>');\n\twriteToScreen('<span style=\"color:red;\">ERROR:&nbsp;'+evt.data+'</span>'); \n\t$('#statusBody').html('<p><span style=\"color:red\">ERROR! - Something went wrong...</span></p>' +\n\t\t\t\t'<p>Why this happens:'+\n\t\t\t\t'<ul>'+\n\t\t\t\t'<li>Client is disconnected from network</li>'+\n\t\t\t\t'<li>Client has a problem - code fubar</li>'+\n\t\t\t\t'<li>Middleware (App Engine) is unavailable</li>'+\n\t\t\t\t'<li>M2X Cloud is unavailable</li>'+\n\t\t\t\t'<li>Browser doesn&apos;t support websockets</li>'+\n\t\t\t\t'</ul></p>'+\n\t\t\t\t'<p>Recommendation: Wait a few seconds, refresh the web app and try again.</p>');\n\tstopTimeout();\n\t$('#reconnect').show();\n\topenStatusModal();\n}\n\nfunction reconnect() {\n\tcloseNetworkModal();\n\tinitWebSockets();\n}\n\t\nfunction doSend(message) { \n\tif (! connected) {\n\t\t$('#networkDiv').empty();\n\t\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>');\n\t\t$('#connectionState').empty();\n\t\t$('#connectionState').append('<span style=\"color:red;\">DISCONNECTED</span>');\n\t\twriteToScreen('<span style=\"color:red;\">DISCONNECTED</span>');\n\t\t$('#statusBody').html('<p><span style=\"color:red\">ERROR! - No connection...</span></p>' +\n\t\t\t\t\t'<p>Why this happens:'+\n\t\t\t\t\t'<ul>'+\n\t\t\t\t\t'<li>Client is disconnected from network</li>'+\n\t\t\t\t\t'<li>Client has a problem - code fubar</li>'+\n\t\t\t\t\t'<li>Middleware (App Engine) is unavailable</li>'+\n\t\t\t\t\t'<li>M2X Cloud is unavailable</li>'+\n\t\t\t\t\t'</ul></p>'+\n\t\t\t\t\t'<p>Recommendation: Wait a few seconds, refresh the web app and try again.</p>');\n\t\topenStatusModal();\n\t\treturn;\n\t}\n\tsending = true; // this is used to ensure that we overwrite the sound source with \"searching for\" only when needed.\n\t$('#spinner').show();\n\ttry {\n\t\tGoodAirSocket.send(message); \n\t\tstartTimeout();\n\t}\n\tcatch (e) {\n\t\twriteToScreen('<span style=\"color:red;\">Error SENDING - restart client</span>');\n\t\tconnected = false;\n\t\t$('#networkDiv').empty();\n\t\t$('#networkDiv').append('<button type=\"button\" class=\"btn btn-default\" onclick=\"openNetworkModal()\"><i class=\"fa fa-signal fa-2x\"></i></button>');\n\t\t$('#reconnect').show();\n\t\treturn;\n\t}\n\twriteToScreen('<span style=\"color:green;\">Message SENT</span>');  \n\t$('#payload').val(message);\n}  \n\nfunction startTimeout() {\n    timeoutVar = setTimeout(function() {\n\t\tonError(\"Websockets timeout\")\n\t}, timeoutSetting);\n}\n\nfunction stopTimeout(noproblem) {\n    clearTimeout(timeoutVar);\n\tsending = false; \n\t// NOT noproblem means that this function was called as a normal timeout or that something broke, in which case we want to hide the spinner.\n\tif (! noproblem) $('#spinner').hide();\n}\n\nfunction initializeMap() {\n\tvar map_canvas = document.getElementById(\"map_canvas\");\n\tvar map_options = {\n\t\tcenter: new google.maps.LatLng(44.9740366, -93.2725678),\n\t\tzoom: 14,\n\t\tmapTypeId: google.maps.MapTypeId.ROADMAP\n\t};\n\tmap = new google.maps.Map(map_canvas, map_options);\n\t//$('#map_canvas').hide();\n\t\n\t\n\tcreatemarkers();  // removed during debugging\n}\n\nfunction createmarkers() {\n\n\tvar devicenames = [];\n\tvar deviceids = [];\n\tvar deviceaddresses = [];\n\tvar devicecities = [];\n\tvar latitudes = [];\n\tvar longitudes = [];\n\t$('.devicename').each(function() {\n\t\tdevicenames.push($(this).attr('value'));\n\t});\n\t$('.deviceid').each(function() {\n\t\tdeviceids.push($(this).attr('value'));\n\t});\n\t$('.deviceaddress').each(function() {\n\t\tdeviceaddresses.push($(this).attr('value'));\n\t});\n\t$('.devicecity').each(function() {\n\t\tdevicecities.push($(this).attr('value'));\n\t});\n\t$('.latitude').each(function() {\n\t\tlatitudes.push($(this).attr('value'));\n\t});\n\t$('.longitude').each(function() {\n\t\tlongitudes.push($(this).attr('value'));\n\t});\n\tvar devicenameslength = devicenames.length;\n\tvar deviceidslength = deviceids.length;\n\tvar latitudeslength = latitudes.length;\n\tvar longitudeslength = longitudes.length;\n\n\tvar pinColorRed = \"FE7569\";\n\tvar pinColorWhite = \"FFFFFF\";\n\tvar pinColorBlue = \"6666FF\";\n\tvar pinColorGreen = \"66FF66\";\n\tvar pinImageRed = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorRed,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinImageWhite = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorWhite,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinImageBlue = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorBlue,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinImageGreen = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorGreen,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinShadow = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_shadow\",\n\t\tnew google.maps.Size(40, 37),\n\t\tnew google.maps.Point(0, 0),\n\t\tnew google.maps.Point(12, 35));\n\n\tconsole.log('devicenameslength:'+devicenameslength+',latitudes:'+latitudeslength+',longitudes:'+longitudeslength);\n\n\tif ((devicenameslength == latitudeslength) && (latitudeslength == longitudeslength)) {\n\t\tpointCount = devicenameslength; // we use this to figure how to best zoom\n\t\tmarkerBounds = new google.maps.LatLngBounds();\n\t\tfor (var i = 0, l = devicenameslength; i < l; i++){\n\t\t\tconsole.log('latitudes[i]:'+latitudes[i]+', longitudes[i]:'+longitudes[i]);\n\t\t\tvar latlng = new google.maps.LatLng(latitudes[i],longitudes[i]);\n\t\t\tvar contentString = '<h3>' + devicenames[i] + '</h3>'+\n\t\t\t\t\t\t\t\t'<h5>' + devicecities[i] + '</h5>'+\n\t\t\t\t\t\t\t\t'<div id=\"bodyContent\">'+'<b>Address: </b>' + deviceaddresses[i] + '<br>' +\n\t\t\t\t\t\t\t\t'<b>Lat: </b>' + latitudes[i] + '<br>' +\n\t\t\t\t\t\t\t\t'<b>Lng: </b>' + longitudes[i];\n\n\t\t\tinfowindow = new google.maps.InfoWindow({\n\t\t\t\tcontent: contentString,\n\t\t\t\tmaxWidth: 500\n\t\t\t});\n\t\t\tvar pinImage = pinImageRed;\n\n\t\t\tvar marker = new google.maps.Marker({\n\t\t\t\tmap: map,\n\t\t\t\tposition: latlng,\n\t\t\t\tlid: deviceids[i],\n\t\t\t\tdraggable: false,\n\t\t\t\traiseOnDrag: false,\n\t\t\t\ttitle: devicenames[i],\n\t\t\t\thtml: contentString,\n\t\t\t\ticon: pinImage,\n\t\t\t\tshadow: pinShadow\n\t\t\t});\n\n\t\t\tgoogle.maps.event.addListener(marker, 'click', function() {\n\t\t\t\tinfowindow.setContent(this.html);\n\t\t\t\tinfowindow.open(map,this);\n\t\t\t\t//infowindow.open(map,marker);\n\t\t\t});\n\t\t\tmarkerBounds.extend(latlng);\n\t\t\tif (pointCount > 1) {\n\t\t\t\tmap.fitBounds(markerBounds);\n\t\t\t}\n\t\t\telse if (pointCount == 1) {\n\t\t\t\tmap.setCenter(markerBounds.getCenter());\n\t\t\t\tmap.setZoom(17);\n\t\t\t}\n\t\t}\n\tmap.setCenter(markerBounds.getCenter());\n\t}\t\n\telse {\n\t\talert('ERROR: device and location coordinate counts do not match!');\n\t}\n}\n\t\nfunction map_GoodAir() {\n\tvar geocoder = new google.maps.Geocoder();\n\n\tvar markerBounds = new google.maps.LatLngBounds();\n\n\tfor (var i = 0; i < addressArray.length; i++) {\n\t\tgeocoder.geocode( { 'address': addressArray[i]}, function(results, status) {\n\t\t\tif (status == google.maps.GeocoderStatus.OK) {\n\t\t\tvar marker = new google.maps.Marker({\n\t\t\tmap: map,\n\t\t\tposition: results[0].geometry.location\n\t\t\t});\n\t\t\tmarkerBounds.extend(results[0].geometry.location);\n\t\t\tmap.fitBounds(markerBounds);\n\t\t\t} \n\t\t\telse {\n\t\t\t\talert(\"Geocode was not successful for the following reason: \" + status);\n\t\t\t}\n\t\t});\n\t}\n}\n\nfunction showMap(id) {\n\tvar e = document.getElementById(id);\n\tgoogle.maps.event.trigger(map,'resize');\n\tconsole.log('pointCount:'+pointCount);\n\tif (pointCount > 1) {\n\t\tmap.fitBounds(markerBounds);\n\t}\n\telse if (pointCount == 1) {\n\t\tmap.setCenter(markerBounds.getCenter());\n\t\tmap.setZoom(17);\n\t}\n\topenMapModal();\n}\n\nfunction getReadings() {\n\tvar formData = new FormData();\n\tformData.append('cmd','read');\n\tvar message = '{ \"command\" : \"read\" }';\n\tdoSend(message);\n}\n\nfunction getReadings2() {\n\tvar formData = new FormData();\n\tformData.append('cmd','read');\n\t\n\tvar xhr1 = new XMLHttpRequest();\n\t// make this a synchronous call, as we want the output to figure out what to do next.\n\txhr1.open('POST', '/ws/read', true);\n\txhr1.onload = function(event) { \n\t\tvar responseText = event.target.responseText;\n\t\t//console.log('responseText1:'+responseText1);\n\t\t//var statusoutput = JSON.parse(responseText1);\n\t\tif (responseText == 'fail') {\n\t\t\t$('#inviteModal').modal('hide');\n\t\t\t$('#statusBody').html('<p>Drat!  Something went wrong.</p><p>Please try again.  If the problem persists, then contact your IT support.</p>');\n\t\t\topenStatusModal();\n\t\t\treturn;\n\t\t}\n\t\telse {\n\t\t\talert('responseText:'+responseText);\n\t\t}\n\t};\n\txhr1.send(formData);\n}\n\n\nfunction str2ab(str) {\n\tvar buf = new ArrayBuffer(str.length); // 1 byte for each char\n\tvar bufView = new Uint8Array(buf);\n\tfor (var i=0, strLen=str.length; i<strLen; i++) {\n\t\tbufView[i] = str.charCodeAt(i);\n\t}\n  return buf;\n}\n\n\nfunction writeToScreen(message) { \n\t$('#connectionStatus').empty();\n\t$('#connectionStatus').append(message);\n}\n\nfunction getScreenInfo() {\n\tif(width>height){\n\t\trealWidth=width;\n\t\trealHeight=height;\n\t\tscreenRatio=(height/width);\n\t}\n\telse{\n\t\trealWidth=height;\n\t\trealHeight=width;\n\t\tscreenRatio=(width/height);\n\t}\n\tif(isNaN(screenRatio)){\n\t\tif(window.innerHeight>window.innerWidth){\n\t\t\trealWidth=window.innerHeight;\n\t\t\trealHeight= window.innerWidth ;\n\t\t\tscreenRatio = (window.innerWidth/window.innerHeight);\n\t\t}\n\t\telse{\n\t\t\trealWidth=window.innerWidth;\n\t\t\trealHeight= window.innerHeight;\n\t\t\tscreenRatio = (window.innerHeight/window.innerWidth);\n\t\t}\n\t}\n}\n\nfunction getBrowserInfo() {\n\tvar nVer = navigator.appVersion;\n\tvar nAgt = navigator.userAgent;\n\tvar nameOffset,verOffset,ix;\n\t\n\t// In Opera, the true version is after \"Opera\" or after \"Version\"\n\tif ((verOffset=nAgt.indexOf(\"Opera\"))!=-1) {\n\t browserName = \"Opera\";\n\t fullVersion = nAgt.substring(verOffset+6);\n\t if ((verOffset=nAgt.indexOf(\"Version\"))!=-1) \n\t   fullVersion = nAgt.substring(verOffset+8);\n\t}\n\t// In MSIE, the true version is after \"MSIE\" in userAgent\n\telse if ((verOffset=nAgt.indexOf(\"MSIE\"))!=-1) {\n\t browserName = \"Microsoft Internet Explorer\";\n\t fullVersion = nAgt.substring(verOffset+5);\n\t}\n\t// In Chrome, the true version is after \"Chrome\" \n\telse if ((verOffset=nAgt.indexOf(\"Chrome\"))!=-1) {\n\t browserName = \"Chrome\";\n\t fullVersion = nAgt.substring(verOffset+7);\n\t}\n\t// In Safari, the true version is after \"Safari\" or after \"Version\" \n\telse if ((verOffset=nAgt.indexOf(\"Safari\"))!=-1) {\n\t browserName = \"Safari\";\n\t fullVersion = nAgt.substring(verOffset+7);\n\t if ((verOffset=nAgt.indexOf(\"Version\"))!=-1) \n\t   fullVersion = nAgt.substring(verOffset+8);\n\t}\n\t// In Firefox, the true version is after \"Firefox\" \n\telse if ((verOffset=nAgt.indexOf(\"Firefox\"))!=-1) {\n\t browserName = \"Firefox\";\n\t fullVersion = nAgt.substring(verOffset+8);\n\t}\n\t// In most other browsers, \"name/version\" is at the end of userAgent \n\telse if ( (nameOffset=nAgt.lastIndexOf(' ')+1) < \n\t          (verOffset=nAgt.lastIndexOf('/')) ) \n\t{\n\t browserName = nAgt.substring(nameOffset,verOffset);\n\t fullVersion = nAgt.substring(verOffset+1);\n\t if (browserName.toLowerCase()==browserName.toUpperCase()) {\n\t  browserName = navigator.appName;\n\t }\n\t}\n\t// trim the fullVersion string at semicolon/space if present\n\tif ((ix=fullVersion.indexOf(\";\"))!=-1)\n\t   fullVersion=fullVersion.substring(0,ix);\n\tif ((ix=fullVersion.indexOf(\" \"))!=-1)\n\t   fullVersion=fullVersion.substring(0,ix);\n\t\n\tmajorVersion = parseInt(''+fullVersion,10);\n\tif (isNaN(majorVersion)) {\n\t fullVersion  = ''+parseFloat(navigator.appVersion); \n\t majorVersion = parseInt(navigator.appVersion,10);\n\t}\n\n\ttry {\n\t\tvar battery = navigator.battery || navigator.webkitBattery || navigator.mozBattery;\n\t\tbatteryLevel = battery.level;\n\t\t//alert('batteryLevel:'+batteryLevel);\n\t}\n\tcatch (e) {}\n\ttry {\n\t\tCPUCount = navigator.hardwareConcurrency;\n\t\t$('#CPUCount').empty();\n\t\t$('#CPUCount').append(CPUCount);\n\t\t//alert('CPUCount:'+ CPUCount);\n\t}\n\tcatch (e) {}\n\t$('#battery').empty();\n\t$('#battery').append(batteryLevel);\n\t$('#platform').empty();\n\t$('#platform').append(platform);\n\t$('#browserName').empty();\n\t$('#browserName').append(browserName);\n\t$('#fullVersion').empty();\n\t$('#fullVersion').append(fullVersion);\n}\n\nfunction closePrintScreen() {\n\t$('#main').hide();\n\t$('#print').hide();\n\t$('#finis').show();\n}\nfunction closeStatusModal() {\n\t$('#statusModal').modal('hide');\n\t$('#finis').show();\n}\nfunction openStatusModal() {\n\t$('#statusModal').modal('show');\n}\nfunction closeSettingsModal() {\n\t$('#settingsModal').modal('hide');\n}\nfunction openSettingsModal() {\n\t$('#settingsBody').empty();\n\t$('#settingsBody').html('<a class=\"btn btn-success\" href=\"https://m2x.att.com/catalog/' + deviceid + '\" target=\"_blank\">AT&amp;T M2X Data &amp; Analysis</a><br><br><a class=\"btn btn-info\" href=\"http://api-flow.att.io/sandbox/goodair/kj4849/in/flow/goodair' + deviceid + '\" target=\"_blank\">AT&amp;T Flow Dashboard</a>');\n\t$('#settingsModal').modal('show');\n}\nfunction validEmail(email) {\n    var re = /^([\\w-]+(?:\\.[\\w-]+)*)@((?:[\\w-]+\\.)*\\w[\\w-]{0,66})\\.([a-z]{2,6}(?:\\.[a-z]{2})?)$/i;\n    return re.test(email);\n}\nfunction closeNetworkModal() {\n\t$('#networkModal').modal('hide');\n}\nfunction openNetworkModal() {\n\t$('#networkModal').modal('show');\n}\nfunction closeParticulatesModal() {\n\t$('#particulatesModal').modal('hide');\n}\nfunction openParticulatesModal() {\n\t$('#particulatesModal').modal('show');\n}\nfunction closeTemperatureModal() {\n\t$('#temperatureModal').modal('hide');\n}\nfunction openTemperatureModal() {\n\t$('#temperatureModal').modal('show');\n}\nfunction closeHumidityModal() {\n\t$('#humidityModal').modal('hide');\n}\nfunction openHumidityModal() {\n\t$('#humidityModal').modal('show');\n}\nfunction closeCH4Modal() {\n\t$('#CH4Modal').modal('hide');\n}\nfunction openCH4Modal() {\n\t$('#CH4Modal').modal('show');\n}\nfunction closeCOModal() {\n\t$('#COModal').modal('hide');\n}\nfunction openCOModal() {\n\t$('#COModal').modal('show');\n}\nfunction closeMapModal() {\n\t$('#mapModal').modal('hide');\n}\nfunction openMapModal() {\n\t$('#mapModal').modal('show');\n}\nfunction closeHelpModal() {\n\t$('#helpModal').modal('hide');\n}\nfunction openHelpModal() {\n\t$('#helpModal').modal('show');\n}\nfunction closeInfoModal() {\n\t$('#infoModal').modal('hide');\n}\nfunction openInfoModal() {\n\t$('#infoModal').modal('show');\n}\nfunction closeMapModal() {\n\t$('#mapModal').modal('hide');\n}\nfunction closeSplashModal() {\n\t$('#splashModal').modal('hide');\n\t$('#main').show();\n\t$('#phoneDiv').show();\n}\nfunction openSplashModal() {\n\t$('#splashModal').modal('show');\n}\n$(document).ready(function() {\n\n\t$(\"#mapModal\").on(\"shown.bs.modal\", function () {\n\t\tgoogle.maps.event.trigger(map, \"resize\");\n\t});\n\n\tinit();\n});\n\n</script>\n</body>\n</html>","x":326.8888244628906,"y":1693.7777709960938,"z":"91f527c9.6e0ad8","wires":[["fdafe874.025018"]]},{"id":"fdafe874.025018","type":"http response","name":"UI Rendering","x":549.8888244628906,"y":1693.7777709960938,"z":"91f527c9.6e0ad8","wires":[]},{"id":"f877a694.078858","type":"http in","name":"Local UI","url":"/","method":"get","swaggerDoc":"","x":102.88882446289062,"y":1693.7777709960938,"z":"91f527c9.6e0ad8","wires":[["6a671a98.9598e4"]]},{"id":"92ec15d4.6d13e8","type":"comment","name":"Web App http://goodair.local/","info":"","x":164.88882446289062,"y":1735.7778015136719,"z":"91f527c9.6e0ad8","wires":[]},{"id":"edc391ec.123c7","type":"websocket in","name":"WebSocket (/ws/goodair)","server":"f3aa9533.0c5568","client":"","x":176.88882446289062,"y":1786.7777709960938,"z":"91f527c9.6e0ad8","wires":[["a435a61c.5bca58","9f5f5c60.60a0a"]]},{"id":"a435a61c.5bca58","type":"function","name":"Format readings","func":"var JSONObj = JSON.parse(msg.payload);\n\nvar d = new Date();\nvar n = d.toISOString();\n\nif (JSONObj.command == 'read') {\n// changed \"at\" to \"timestamp\" in payloadstring to comply with new v2 api\nvar payloadString = '{  \"statusCode\":\"202\",'+\n                        '\"nameTag\":\"GoodAir\",'+\n                        '\"deviceid\":\"'+context.global.m2x_device_id+'\",'+\n                        '\"latitude\":\"'+context.global.latitude+'\",'+\n                        '\"longitude\":\"'+context.global.longitude+'\",'+\n                        '\"hardware\":\"'+context.global.hardware+'\",'+\n                        '\"revision\":\"'+context.global.revision+'\",'+\n                        '\"serialno\":\"'+context.global.serialno+'\",'+\n                        '\"LANIP\":\"'+context.global.LANIP+'\",'+\n                        '\"WLANIP\":\"'+context.global.WLANIP+'\",'+\n                        '\"WWANIP\":\"'+context.global.WWANIP+'\",'+\n                        '\"temperature\":\"'+context.global.powerup_temperature_present+'\",'+\n                        '\"temperaturehigh\":\"'+context.global.powerup_temperature_high+'\",'+\n                        '\"temperaturelow\":\"'+context.global.powerup_temperature_low+'\",'+\n                        '\"temperatureaverage\":\"'+context.global.powerup_temperature_average+'\",'+\n                        '\"temperaturereadings\":\"'+context.global.powerup_temperature_readings+'\",'+\n                        '\"temperaturetotals\":\"'+context.global.powerup_temperature_totals+'\",'+\n                        '\"temperaturetimepresent\":\"'+context.global.powerup_temperature_time_present+'\",'+\n                        '\"temperaturetimestart\":\"'+context.global.powerup_temperature_time_start+'\",'+\n                        '\"humidity\":\"'+context.global.powerup_humidity_present+'\",'+\n                        '\"humidityhigh\":\"'+context.global.powerup_humidity_high+'\",'+\n                        '\"humiditylow\":\"'+context.global.powerup_humidity_low+'\",'+\n                        '\"humidityaverage\":\"'+context.global.powerup_humidity_average+'\",'+\n                        '\"humidityreadings\":\"'+context.global.powerup_humidity_readings+'\",'+\n                        '\"humiditytotals\":\"'+context.global.powerup_humidity_totals+'\",'+\n                        '\"humiditytimepresent\":\"'+context.global.powerup_humidity_time_present+'\",'+\n                        '\"humiditytimestart\":\"'+context.global.powerup_humidity_time_start+'\",'+\n                        '\"oneumppm\":\"'+context.global.powerup_oneumppm_present+'\",'+\n                        '\"oneumppmhigh\":\"'+context.global.powerup_oneumppm_high+'\",'+\n                        '\"oneumppmlow\":\"'+context.global.powerup_oneumppm_low+'\",'+\n                        '\"oneumppmaverage\":\"'+context.global.powerup_oneumppm_average+'\",'+\n                        '\"oneumppmreadings\":\"'+context.global.powerup_oneumppm_readings+'\",' +\n                        '\"oneumppmtotals\":\"'+context.global.powerup_oneumppm_totals+'\",' +\n                        '\"oneumppmtimepresent\":\"'+context.global.powerup_oneumppm_time_present+'\",' +\n                        '\"oneumppmtimestart\":\"'+context.global.powerup_oneumppm_time_start+'\"' +\n                    '}';\n}\nelse {\n    var payloadString = '{ \"values\" : { ' +\n    \t\t\t\t\t'\"statusCode\" : [ { \"timestamp\" : \"' + n + '\" , \"value\" : \"' + \"403\" + '\" } ] ' +\n    \t\t\t\t\t' } }';\n}\n\nmsg.payload = payloadString; \n//node.warn('HTTPResponse payload:'+msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":441.8888244628906,"y":1786.7777709960938,"z":"91f527c9.6e0ad8","wires":[["4e2f33cc.b1d0cc","8a540098.75ac"]]},{"id":"4e2f33cc.b1d0cc","type":"websocket out","name":"WebSocket Output","server":"f3aa9533.0c5568","client":"","x":661.8888244628906,"y":1786.7777709960938,"z":"91f527c9.6e0ad8","wires":[]},{"id":"9f5f5c60.60a0a","type":"debug","name":"","active":false,"console":"false","complete":"false","x":437.8888244628906,"y":1834.7777099609375,"z":"91f527c9.6e0ad8","wires":[]},{"id":"8a540098.75ac","type":"debug","name":"","active":false,"console":"false","complete":"false","x":639.8888244628906,"y":1838.7777709960938,"z":"91f527c9.6e0ad8","wires":[]},{"id":"93f0f274.6c0f1","type":"comment","name":"Websocket Helper","info":"","x":169.7777099609375,"y":1836.9998168945312,"z":"91f527c9.6e0ad8","wires":[]},{"id":"572eb1e9.a8d15","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1151.7776489257812,"y":1307.7777938842773,"z":"91f527c9.6e0ad8","wires":[]},{"id":"32779155.cd886e","type":"inject","name":"Run GPS","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":137.88909912109375,"y":1031.8888835494897,"z":"91f527c9.6e0ad8","wires":[["1cc6c95c.e33937"]]},{"id":"511ed039.aee13","type":"debug","name":"","active":false,"console":"false","complete":"false","x":588.8891296386719,"y":1018.8888778686523,"z":"91f527c9.6e0ad8","wires":[]},{"id":"1cc6c95c.e33937","type":"exec","command":"gpspipe.sh","addpay":false,"append":"","useSpawn":"","name":"Read GPS","x":355.7779846191406,"y":1031.8888778686523,"z":"91f527c9.6e0ad8","wires":[["511ed039.aee13","9765cc31.689a3"],[],[]]},{"id":"9765cc31.689a3","type":"function","name":"Read GPS Sensor & Update Stats","func":"if (typeof(context.global.latitude) == \"undefined\") context.global.latitude = 0;\nif (typeof(context.global.longitude) == \"undefined\") context.global.longitude = 0;\nif (typeof(context.global.elevation) == \"undefined\") context.global.elevation = 0;\nif (typeof(context.global.gps_time) == \"undefined\") context.global.gps_time = '1970-01-01:00:00.000Z';\n\nvar JSONObj = JSON.parse(msg.payload);\n\ncontext.global.latitude = JSONObj.lat;\ncontext.global.longitude = JSONObj.lon;\ncontext.global.elevation = JSONObj.alt;\ncontext.global.gps_time = JSONObj.time;\n\n//node.warn('Latitude:'+context.global.latitude+', Longitude:'+context.global.longitude+', Elevation:'+context.global.elevation);\n\ncontext.global.gps_time = JSONObj.time;\n//node.warn('GPSTime:'+context.global.gps_time);\n\nreturn msg;","outputs":1,"noerr":0,"x":628.7780456542969,"y":1075.4444713180444,"z":"91f527c9.6e0ad8","wires":[["b350c1af.4caf4"]]},{"id":"b350c1af.4caf4","type":"debug","name":"","active":false,"console":"false","complete":"false","x":884.7780151367188,"y":1075.6667689865014,"z":"91f527c9.6e0ad8","wires":[]},{"id":"160653f6.e9f9ac","type":"comment","name":"GPS Sensor Collector","info":"This GPS (Global Positioning System) sensor is tied to ttyUSB0.\n\nWe wait 5 minutes after start up to begin readings in order to allow the GPS radio to lock onto satellites.","x":170.77798461914062,"y":1082.8889369552514,"z":"91f527c9.6e0ad8","wires":[]},{"id":"4be93d28.b416c4","type":"http request","name":"PUT Location to M2X","method":"PUT","ret":"obj","url":"","x":735.8890380859375,"y":1402.2222518920898,"z":"91f527c9.6e0ad8","wires":[["5a2dc4c5.a5d23c"]]},{"id":"5a2dc4c5.a5d23c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":929.8890075683594,"y":1402.2222518920898,"z":"91f527c9.6e0ad8","wires":[]},{"id":"2238a74c.ddc758","type":"function","name":"M2X Location Prep","func":"var d = new Date();\nvar n = d.toISOString();\n\nmsg.topic = \"devices\"; // The type of object to act on - distribution,device,chart.key.\nmsg.action = \"postMultiple\";\nmsg.topic_id = context.global.m2x_device_id;\nmsg.url = 'https://api-m2x.att.com/v2/devices/'+context.global.m2x_device_id+'/location';\n\n\nvar payloadString = '{ \"name\": ' + '\"' + context.global.device_name + '\",' +\n                        '\"latitude\": ' + context.global.latitude + ',' +\n                        '\"longitude\": ' + context.global.longitude + ',' +\n                        '\"timestamp\": ' + '\"' + n + '\",' +\n                        '\"elevation\": ' + context.global.elevation + '}';\n\nmsg.payload = payloadString;\n\nvar tempheader = '{\"Content-Type\" : \"application/json\",\"X-M2X-KEY\" : \"'+context.global.m2x_device_api_key+'\"}';\n\nmsg.headers = JSON.parse(tempheader);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500.8890380859375,"y":1402.2222290039062,"z":"91f527c9.6e0ad8","wires":[["4be93d28.b416c4"]]},{"id":"1cdfcd2b.e32033","type":"inject","name":"One-Time M2X Location Update","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":199.88909912109375,"y":1402.8889389038086,"z":"91f527c9.6e0ad8","wires":[["2238a74c.ddc758"]]},{"id":"6b3cb502.94c34c","type":"inject","name":"One-Time M2X Update","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":174.88909912109375,"y":1306.8889389038086,"z":"91f527c9.6e0ad8","wires":[["e233910b.1dcc7"]]},{"id":"83b9d18e.7c463","type":"inject","name":"Run getips.sh","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":false,"x":143.22244262695312,"y":1163.222227055349,"z":"91f527c9.6e0ad8","wires":[["4cfe3959.b301c8"]]},{"id":"4cfe3959.b301c8","type":"exec","command":"getips.sh","addpay":false,"append":"eth0","useSpawn":"","name":"Get Interface IPs","x":361.111328125,"y":1163.2222213745117,"z":"91f527c9.6e0ad8","wires":[["ad610bb7.529ef8"],[],[]]},{"id":"ad610bb7.529ef8","type":"function","name":"Read Interface Info","func":"//node.warn('getips.sh output:'+msg.payload);\n\nvar IPs = JSON.parse(msg.payload);\n\ncontext.global.LANIP = IPs.LAN;\ncontext.global.WLANIP = IPs.WLAN;\ncontext.global.WWANIP = IPs.WWAN;\n\n//node.warn('LANIP:'+context.global.LANIP+', WLANIP:'+context.global.WLANIP+', WWANIP:'+context.global.WWANIP);\n\nreturn msg;","outputs":1,"noerr":0,"x":627.1113586425781,"y":1149.7778300826928,"z":"91f527c9.6e0ad8","wires":[["e23b4fac.1dc4b"]]},{"id":"1adcde69.e52322","type":"comment","name":"Get Interface IP Address Information","info":"Wait 5 minutes before starting to make sure WWAN (ppp) has had time to initialize and connect to the AT&T Mobility network.","x":216.111328125,"y":1212.2222880905053,"z":"91f527c9.6e0ad8","wires":[]},{"id":"e23b4fac.1dc4b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":837.2224426269531,"y":1150.222227055349,"z":"91f527c9.6e0ad8","wires":[]},{"id":"5ebdeb02.a14214","type":"file in","name":"Device ID","filename":"/home/pi/.node-red/device_id","format":"utf8","x":389.2224426269531,"y":103.22222900390625,"z":"91f527c9.6e0ad8","wires":[["af2ed005.50d13"]]},{"id":"a173b0c3.5e8c5","type":"debug","name":"","active":true,"console":"false","complete":"false","x":779.2225952148438,"y":103.22222900390625,"z":"91f527c9.6e0ad8","wires":[]},{"id":"eb7ab48c.148548","type":"inject","name":"One-Time Flow Update","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":164.22244262695312,"y":1517.2222290039062,"z":"91f527c9.6e0ad8","wires":[["89e28937.761d78"]]},{"id":"b6d63122.4929d","type":"function","name":"Dump Globals","func":"node.warn('context.global.device_id: '+context.global.m2x_device_id);\nnode.warn('context.global.LANIP: '+context.global.LANIP);\nnode.warn('context.global.WLANIP: '+context.global.WLANIP);\nnode.warn('context.global.WWANIP: '+context.global.WWANIP);\nnode.warn('context.global.update_temperature_present: '+context.global.update_temperature_present);\nnode.warn('context.global.update_temperature_high: '+context.global.update_temperature_high);\nnode.warn('context.global.update_temperature_low: '+context.global.update_temperature_low);\nnode.warn('context.global.update_temperature_average: '+context.global.update_temperature_average);\nnode.warn('context.global.update_temperature_readings: '+context.global.update_temperature_readings);\nnode.warn('context.global.update_temperature_totals: '+context.global.update_temperature_totals);\nnode.warn('context.global.update_temperature_time_present: '+context.global.update_temperature_time_present);\nnode.warn('context.global.update_temperature_time_start: '+context.global.update_temperature_time_start);\nnode.warn('context.global.update_humidity_present: '+context.global.update_humidity_present);\nnode.warn('context.global.update_humidity_high: '+context.global.update_humidity_high);\nnode.warn('context.global.update_humidity_low: '+context.global.update_humidity_low);\nnode.warn('context.global.update_humidity_average: '+context.global.update_humidity_average);\nnode.warn('context.global.update_humidity_readings: '+context.global.update_humidity_readings);\nnode.warn('context.global.update_humidity_totals: '+context.global.update_humidity_totals);\nnode.warn('context.global.update_humidity_time_present: '+context.global.update_humidity_time_present);\nnode.warn('context.global.update_humidity_time_start: '+context.global.update_humidity_time_start);\nnode.warn('context.global.update_oneumppm_present: '+context.global.update_oneumppm_present);\nnode.warn('context.global.update_oneumppm_high: '+context.global.update_oneumppm_high);\nnode.warn('context.global.update_oneumppm_low: '+context.global.update_oneumppm_low);\nnode.warn('context.global.update_oneumppm_average: '+context.global.update_oneumppm_average);\nnode.warn('context.global.update_oneumppm_readings: '+context.global.update_oneumppm_readings);\nnode.warn('context.global.update_oneumppm_totals: '+context.global.update_oneumppm_totals);\nnode.warn('context.global.update_oneumppm_time_present: '+context.global.update_oneumppm_time_present);\nnode.warn('context.global.update_oneumppm_time_start: '+context.global.update_oneumppm_time_start);\nnode.warn('context.global.update_ch4ppm_present: '+context.global.update_ch4ppm_present);\nnode.warn('context.global.update_ch4ppm_high: '+context.global.update_ch4ppm_high);\nnode.warn('context.global.update_ch4ppm_low: '+context.global.update_ch4ppm_low);\nnode.warn('context.global.update_ch4ppm_average: '+context.global.update_ch4ppm_average);\nnode.warn('context.global.update_ch4ppm_readings: '+context.global.update_ch4ppm_readings);\nnode.warn('context.global.update_ch4ppm_totals: '+context.global.update_ch4ppm_totals);\nnode.warn('context.global.update_ch4ppm_time_present: '+context.global.update_ch4ppm_time_present);\nnode.warn('context.global.update_ch4ppm_time_start: '+context.global.update_ch4ppm_time_start);\nnode.warn('context.global.update_coppm_present: '+context.global.update_coppm_present);\nnode.warn('context.global.update_coppm_high: '+context.global.update_coppm_high);\nnode.warn('context.global.update_coppm_low: '+context.global.update_coppm_low);\nnode.warn('context.global.update_coppm_average: '+context.global.update_coppm_average);\nnode.warn('context.global.update_coppm_readings: '+context.global.update_coppm_readings);\nnode.warn('context.global.update_coppm_totals: '+context.global.update_coppm_totals);\nnode.warn('context.global.update_coppm_time_present: '+context.global.update_coppm_time_present);\nnode.warn('context.global.update_coppm_time_start: '+context.global.update_coppm_time_start);\n\nreturn msg;","outputs":1,"noerr":0,"x":350.2224426269531,"y":270.22222900390625,"z":"91f527c9.6e0ad8","wires":[["3152afa.fcead5"]]},{"id":"54bcaccb.ab4354","type":"inject","name":"Dump Globals","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":146.22244262695312,"y":270.22222900390625,"z":"91f527c9.6e0ad8","wires":[["b6d63122.4929d"]]},{"id":"3152afa.fcead5","type":"debug","name":"","active":false,"console":"false","complete":"false","x":564.2224426269531,"y":270.22222900390625,"z":"91f527c9.6e0ad8","wires":[]},{"id":"2856a203.d7a95e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":606.2225341796875,"y":1564.2222290039062,"z":"91f527c9.6e0ad8","wires":[]},{"id":"d9cd3b79.2632c8","type":"file","name":"Output payload","filename":"/home/pi/.node-red/payload.txt","appendNewline":false,"overwriteFile":"true","x":536.2225036621094,"y":1607.2222290039062,"z":"91f527c9.6e0ad8","wires":[]},{"id":"af2ed005.50d13","type":"function","name":"Clean up DeviceId","func":"// Get rid of newlines from file read\nmsg.payload = msg.payload.trim();\ncontext.global.m2x_device_id = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":584.111328125,"y":103.11111450195312,"z":"91f527c9.6e0ad8","wires":[["a173b0c3.5e8c5"]]},{"id":"15af4399.ea50bc","type":"exec","command":"RPiInfo.sh","addpay":false,"append":"","useSpawn":"","name":"RPi Info","x":391.111328125,"y":171.11111450195312,"z":"91f527c9.6e0ad8","wires":[["5b643f19.a49bc"],[],[]]},{"id":"5b643f19.a49bc","type":"function","name":"Parse RPi Info","func":"var JSONObj = JSON.parse(msg.payload);\n\ncontext.global.hardware = JSONObj.hardware;\ncontext.global.revision = JSONObj.revision;\ncontext.global.serialno = JSONObj.serialno;\ncontext.global.ethernetMAC = JSONObj.ethernetMAC;\n\n//node.warn('hardware:'+context.global.hardware+', revision:'+context.global.revision+', serialno:'+context.global.serialno);\n\nreturn msg;","outputs":1,"noerr":0,"x":579.1113586425781,"y":158.11111450195312,"z":"91f527c9.6e0ad8","wires":[["a2ef1763.5d10e8"]]},{"id":"a2ef1763.5d10e8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":780.1113891601562,"y":158.11111450195312,"z":"91f527c9.6e0ad8","wires":[]},{"id":"75d66b33.8a2994","type":"inject","name":"Run MQ4","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":false,"x":147.5116424560547,"y":543.2406005859375,"z":"91f527c9.6e0ad8","wires":[["1bed44f4.e412bb"]]},{"id":"52c7b51c.ad384c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":598.5116729736328,"y":530.2405949051001,"z":"91f527c9.6e0ad8","wires":[]},{"id":"1bed44f4.e412bb","type":"exec","command":"mq4.py","addpay":false,"append":"0","useSpawn":"","name":"Read MQ4","x":365.40052795410156,"y":543.2405949051001,"z":"91f527c9.6e0ad8","wires":[["52c7b51c.ad384c","e49cee3e.1b631"],[],[]]},{"id":"e49cee3e.1b631","type":"function","name":"Read CH4 Sensor & Update Stats","func":"if (typeof(context.global.update_ch4ppm_present) == \"undefined\") context.global.update_ch4ppm_present = '';\nif (typeof(context.global.update_ch4ppm_high) == \"undefined\") context.global.update_ch4ppm_high = '';\nif (typeof(context.global.update_ch4ppm_low) == \"undefined\") context.global.update_ch4ppm_low = '';\nif (typeof(context.global.update_ch4ppm_average) == \"undefined\") context.global.update_ch4ppm_average = '';\nif (typeof(context.global.update_ch4ppm_readings) == \"undefined\") context.global.update_ch4ppm_readings = 0;\nif (typeof(context.global.update_ch4ppm_totals) == \"undefined\") context.global.update_ch4ppm_totals = 0;\nif (typeof(context.global.update_ch4ppm_time_present) == \"undefined\") context.global.update_ch4ppm_time_present = '';\nif (typeof(context.global.update_ch4ppm_time_start) == \"undefined\") context.global.update_ch4ppm_time_start = '';\n\nif (typeof(context.global.powerup_ch4ppm_present) == \"undefined\") context.global.powerup_ch4ppm_present = '';\nif (typeof(context.global.powerup_ch4ppm_high) == \"undefined\") context.global.powerup_ch4ppm_high = '';\nif (typeof(context.global.powerup_ch4ppm_low) == \"undefined\") context.global.powerup_ch4ppm_low = '';\nif (typeof(context.global.powerup_ch4ppm_average) == \"undefined\") context.global.powerup_ch4ppm_average = '';\nif (typeof(context.global.powerup_ch4ppm_readings) == \"undefined\") context.global.powerup_ch4ppm_readings = 0;\nif (typeof(context.global.powerup_ch4ppm_totals) == \"undefined\") context.global.powerup_ch4ppm_totals = 0;\nif (typeof(context.global.powerup_ch4ppm_time_present) == \"undefined\") context.global.powerup_ch4ppm_time_present = '';\nif (typeof(context.global.powerup_ch4ppm_time_start) == \"undefined\") context.global.powerup_ch4ppm_time_start = '';\n\n\ncontext.global.update_ch4ppm_readings += 1;\ncontext.global.powerup_ch4ppm_readings += 1;\n\n\n// now time to round it up to the nearest whole number\ncontext.global.update_ch4ppm_present = Math.round(msg.payload);\ncontext.global.powerup_ch4ppm_present = Math.round(msg.payload);\n\nnode.warn('update_ch4ppm_present:'+context.global.update_ch4ppm_present);\n\ncontext.global.update_ch4ppm_totals += context.global.update_ch4ppm_present;\ncontext.global.powerup_ch4ppm_totals += context.global.powerup_ch4ppm_present;\n\nif (context.global.update_ch4ppm_readings != \"0\") context.global.update_ch4ppm_average = Math.round(context.global.update_ch4ppm_totals / context.global.update_ch4ppm_readings);\nelse context.global.update_ch4ppm_average = context.global.update_ch4ppm_present;\n\nif (context.global.powerup_ch4ppm_readings != \"0\") context.global.powerup_ch4ppm_average = Math.round(context.global.powerup_ch4ppm_totals / context.global.powerup_ch4ppm_readings);\nelse context.global.powerup_ch4ppm_average = context.global.powerup_ch4ppm_present;\n\n// Assign low and highs for update and powerup settings\n// Handle any first pass initialization of low and high\nif (context.global.update_ch4ppm_high === '') context.global.update_ch4ppm_high = context.global.update_ch4ppm_present;\nif (context.global.update_ch4ppm_low === '') context.global.update_ch4ppm_low = context.global.update_ch4ppm_present;\nif (context.global.update_ch4ppm_present >= context.global.update_ch4ppm_high) context.global.update_ch4ppm_high = context.global.update_ch4ppm_present;\nif (context.global.update_ch4ppm_present <= context.global.update_ch4ppm_low) context.global.update_ch4ppm_low = context.global.update_ch4ppm_present;\n\nif (context.global.powerup_ch4ppm_high === '') context.global.powerup_ch4ppm_high = context.global.powerup_ch4ppm_present;\nif (context.global.powerup_ch4ppm_low === '') context.global.powerup_ch4ppm_low = context.global.powerup_ch4ppm_present;\nif (context.global.powerup_ch4ppm_present >= context.global.powerup_ch4ppm_high) context.global.powerup_ch4ppm_high = context.global.powerup_ch4ppm_present;\nif (context.global.powerup_ch4ppm_present <= context.global.powerup_ch4ppm_low) context.global.powerup_ch4ppm_low = context.global.powerup_ch4ppm_present;\n\n\n// Update timestamps.\nvar d = new Date();\nvar n = d.toISOString();\ncontext.global.update_ch4ppm_time_present = n;\ncontext.global.powerup_ch4ppm_time_present = n;\n\nif (context.global.update_ch4ppm_time_start === '') context.global.update_ch4ppm_time_start = n;\nif (context.global.powerup_ch4ppm_time_start === '') context.global.powerup_ch4ppm_time_start = n;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":638.4005889892578,"y":586.7961883544922,"z":"91f527c9.6e0ad8","wires":[["eab6be53.15494"]]},{"id":"eab6be53.15494","type":"debug","name":"","active":false,"console":"false","complete":"false","x":899.4005889892578,"y":587.0184783935547,"z":"91f527c9.6e0ad8","wires":[]},{"id":"dd18466f.22e7b8","type":"comment","name":"MQ4 (CH4 - Methane) Sensor Collector","info":"\n\nSyntax: mq4.py ADC_channel (default 0)","x":224.40052795410156,"y":593.2406616210938,"z":"91f527c9.6e0ad8","wires":[]},{"id":"d0e2bee4.2f1d4","type":"inject","name":"Run MQ7","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":false,"x":153.5116424560547,"y":668.2406005859375,"z":"91f527c9.6e0ad8","wires":[["58296085.a7d6a"]]},{"id":"c9efb33f.36105","type":"debug","name":"","active":true,"console":"false","complete":"false","x":604.5116729736328,"y":655.2405949051001,"z":"91f527c9.6e0ad8","wires":[]},{"id":"58296085.a7d6a","type":"exec","command":"mq7.py","addpay":false,"append":"1","useSpawn":"","name":"Read MQ7","x":371.40052795410156,"y":668.2405949051001,"z":"91f527c9.6e0ad8","wires":[["c9efb33f.36105","4f2ccbaa.b0d334"],[],[]]},{"id":"4f2ccbaa.b0d334","type":"function","name":"Read CO Sensor & Update Stats","func":"if (typeof(context.global.update_coppm_present) == \"undefined\") context.global.update_coppm_present = '';\nif (typeof(context.global.update_coppm_high) == \"undefined\") context.global.update_coppm_high = '';\nif (typeof(context.global.update_coppm_low) == \"undefined\") context.global.update_coppm_low = '';\nif (typeof(context.global.update_coppm_average) == \"undefined\") context.global.update_coppm_average = '';\nif (typeof(context.global.update_coppm_readings) == \"undefined\") context.global.update_coppm_readings = 0;\nif (typeof(context.global.update_coppm_totals) == \"undefined\") context.global.update_coppm_totals = 0;\nif (typeof(context.global.update_coppm_time_present) == \"undefined\") context.global.update_coppm_time_present = '';\nif (typeof(context.global.update_coppm_time_start) == \"undefined\") context.global.update_coppm_time_start = '';\n\nif (typeof(context.global.powerup_coppm_present) == \"undefined\") context.global.powerup_coppm_present = '';\nif (typeof(context.global.powerup_coppm_high) == \"undefined\") context.global.powerup_coppm_high = '';\nif (typeof(context.global.powerup_coppm_low) == \"undefined\") context.global.powerup_coppm_low = '';\nif (typeof(context.global.powerup_coppm_average) == \"undefined\") context.global.powerup_coppm_average = '';\nif (typeof(context.global.powerup_coppm_readings) == \"undefined\") context.global.powerup_coppm_readings = 0;\nif (typeof(context.global.powerup_coppm_totals) == \"undefined\") context.global.powerup_coppm_totals = 0;\nif (typeof(context.global.powerup_coppm_time_present) == \"undefined\") context.global.powerup_coppm_time_present = '';\nif (typeof(context.global.powerup_coppm_time_start) == \"undefined\") context.global.powerup_coppm_time_start = '';\n\n\ncontext.global.update_coppm_readings += 1;\ncontext.global.powerup_coppm_readings += 1;\n\n\n// now time to round it up to the nearest whole number\ncontext.global.update_coppm_present = Math.round(msg.payload);\ncontext.global.powerup_coppm_present = Math.round(msg.payload);\n\nnode.warn('update_coppm_present:'+context.global.update_coppm_present);\n\ncontext.global.update_coppm_totals += context.global.update_coppm_present;\ncontext.global.powerup_coppm_totals += context.global.powerup_coppm_present;\n\nif (context.global.update_coppm_readings != \"0\") context.global.update_coppm_average = Math.round(context.global.update_coppm_totals / context.global.update_coppm_readings);\nelse context.global.update_coppm_average = context.global.update_coppm_present;\n\nif (context.global.powerup_coppm_readings != \"0\") context.global.powerup_coppm_average = Math.round(context.global.powerup_coppm_totals / context.global.powerup_coppm_readings);\nelse context.global.powerup_coppm_average = context.global.powerup_coppm_present;\n\n// Assign low and highs for update and powerup settings\n// Handle any first pass initialization of low and high\nif (context.global.update_coppm_high === '') context.global.update_coppm_high = context.global.update_coppm_present;\nif (context.global.update_coppm_low === '') context.global.update_coppm_low = context.global.update_coppm_present;\nif (context.global.update_coppm_present >= context.global.update_coppm_high) context.global.update_coppm_high = context.global.update_coppm_present;\nif (context.global.update_coppm_present <= context.global.update_coppm_low) context.global.update_coppm_low = context.global.update_coppm_present;\n\nif (context.global.powerup_coppm_high === '') context.global.powerup_coppm_high = context.global.powerup_coppm_present;\nif (context.global.powerup_coppm_low === '') context.global.powerup_coppm_low = context.global.powerup_coppm_present;\nif (context.global.powerup_coppm_present >= context.global.powerup_coppm_high) context.global.powerup_coppm_high = context.global.powerup_coppm_present;\nif (context.global.powerup_coppm_present <= context.global.powerup_coppm_low) context.global.powerup_coppm_low = context.global.powerup_coppm_present;\n\n\n// Update timestamps.\nvar d = new Date();\nvar n = d.toISOString();\ncontext.global.update_coppm_time_present = n;\ncontext.global.powerup_coppm_time_present = n;\n\nif (context.global.update_coppm_time_start === '') context.global.update_coppm_time_start = n;\nif (context.global.powerup_coppm_time_start === '') context.global.powerup_coppm_time_start = n;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":644.4005889892578,"y":711.7961883544922,"z":"91f527c9.6e0ad8","wires":[["25295f2c.dad6a"]]},{"id":"25295f2c.dad6a","type":"debug","name":"","active":false,"console":"false","complete":"false","x":905.4005889892578,"y":712.0184783935547,"z":"91f527c9.6e0ad8","wires":[]},{"id":"43663bef.bc99c4","type":"comment","name":"MQ7 (Carbon Monoxide) Sensor Collector","info":"\n\nSyntax: mq7.py ADC_channel (default 0)\n","x":230.40052795410156,"y":718.2406616210938,"z":"91f527c9.6e0ad8","wires":[]}]