node-red/cloud flows/Cloud Flows.js
[{"id":"93b4ea40.6c4b18","type":"http in","debugBreak":false,"debugOutput":false,"name":"http request: /goodair","url":"/goodair","method":"get","x":129,"y":132,"z":"f1087822.b73f78","wires":[["3382a9c5.cc7d56","33f910fe.cc06f"]]},{"id":"be104479.41efb8","type":"http response","debugBreak":false,"debugOutput":false,"name":"http responce: goodair","x":718,"y":133,"z":"f1087822.b73f78","wires":[]},{"id":"3382a9c5.cc7d56","type":"template","debugBreak":false,"debugOutput":false,"name":"Mobile web-App dashboardv1.0 ","template":"<!DOCTYPE html> \n<!--\n  Copyright 2015 Kevin W. Jones.\n\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n\n  http://www.apache.org/licenses/LICENSE-2.0\n\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<head>\n\t<meta charset=\"utf-8\" />  \n\t<title>GoodAir</title> \n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, user-scalable=no\">\n\t<meta name=\"author\" content=\"Kevin Wray Jones\">\n\t<meta name=\"apple-mobile-web-app-capable\" content=\"yes\" /> \n\t<meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black\" />\n\t<!-- iPhone ICON -->\n\t<link href=\"http://iotapps1.sealabs.org/goodair/img/icons/ga_57x57.png\" sizes=\"57x57\" rel=\"apple-touch-icon-precomposed\">\n\t<!-- iPad ICON-->\n\t<link href=\"http://iotapps1.sealabs.org/goodair/img/icons/ga_72x72.png\" sizes=\"72x72\" rel=\"apple-touch-icon-precomposed\">\n\t<!-- iPhone (Retina) ICON-->\n\t<link href=\"http://iotapps1.sealabs.org/goodair/img/icons/ga_114x114.png\" sizes=\"114x114\" rel=\"apple-touch-icon-precomposed\">\n\t<!-- iPad (Retina) ICON-->\n\t<link href=\"http://iotapps1.sealabs.org/goodair/img/icons/ga_144x144.png\" sizes=\"144x144\" rel=\"apple-touch-icon-precomposed\">\n\t<meta name=\"description\" content=\"\">\n\t<meta name=\"author\" content=\"\">\n\t<link rel=\"icon\" href=\"http://iotapps1.sealabs.org/goodair/img/icons/favicon.ico\" type=\"image/x-icon\">\n\t<link rel=\"shortcut icon\" href=\"http://iotapps1.sealabs.org/goodair/img/icons/favicon.ico\" />\n\n\t<!-- Latest compiled and minified CSS -->\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css\">\n\t<!--\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/journal/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/sandstone/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css\">\n\t-->\n\t<style>\n\ta {\n\t\tcolor: White;\n\t}\n\ta:hover {\n\t\tcolor: Black;\n\t}\n\t#intro {\n\t\tcolor: White;\n\t}\n\t#finis {\n\t\tcolor: DarkOrange;\n\t}\n\t.DarkOrange {\n\t\tcolor: DarkOrange;\n\t}\n\t.DarkOrangeBG {\n\t\tbackground: DarkOrange;\n\t}\n\t.Green {\n\t\tcolor: Green;\n\t}\n\t.GreenBG {\n\t\tbackground: Green;\n\t}\n\t.LightSeaGreen {\n\t\tcolor: LightSeaGreen;\n\t}\n\t.DarkBlue {\n\t\tcolor: DarkBlue;\n\t}\n\t.Blue {\n\t\tcolor: Blue;\n\t}\n\t.DeepSkyBlue {\n\t\tcolor: DeepSkyBlue;\n\t}\n\t.DeepSkyBlueBG {\n\t\tbackground: DeepSkyBlue;\n\t}\n\t.LightSkyBlue {\n\t\tcolor: LightSkyBlue;\n\t}\n\t.LightSlateGray  {\n\t\tcolor: LightSlateGray \n\t}\n\t.Snow {\n\t\tcolor: Snow;\n\t}\n\t.White {\n\t\tcolor: White;\n\t}\n\t.WhiteBG {\n\t\tbackground: White;\n\t}\n\t.Red {\n\t\tcolor: Red;\n\t}\n\t.RedBG {\n\t\tbackground: Red;\n\t}\n\t.Gray {\n\t\tcolor: Gray;\n\t}\n\t.GrayBG {\n\t\tbackground: Gray;\n\t}\n\t.Black {\n\t\tcolor: Black;\n\t}\n\t#map_canvas{height:350px;}\n\t.col-centered{\n\t\tmargin: 0 auto;\n\t\tfloat: none;\n\t}\n\n\t</style>\n\t<!--<script src=\"http://jsconsole.com/remote.js?kwj12345\"></script> -->\n\t<script src=\"https://code.jquery.com/jquery-2.1.4.js\"></script>\t\n\t<script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false\" type=\"text/javascript\" ></script>\n\t<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js\"></script>\t\n\t<script src=\"http://iotapps1.sealabs.org/goodair/js/spin.min.js\"></script>\n\t<script src=\"http://iotapps1.sealabs.org/goodair/js/gauge.min.js\"></script>\n\n</head>\n<body>\n<div id=\"mainBody\" style=\"display:block;\">\n\t<div id=\"spinner\" style=\"display:none;\"></div>\n\t<div class=\"container\">\n\t\t<div id=\"intro\" class=\"row text-center\">\n\t\t\t<div class=\"col-xs-12 col-sm-6 WhiteBG\" style=\"padding:15px;\">\n\t\t\t\t<h1 style=\"margin-top:-10px;\"><span style=\"color: LightSlateGray\">Good</span><span style=\"color: DeepSkyBlue\">Air</span><span style=\"color:Black;font-size:medium;\">&nbsp;&nbsp;by AT&amp;T MSS</span></h1>\n\t\t\t\t<span style=\"padding-right:20px;\"><button class=\"btn btn-success text-center\" onclick=\"getDeviceReadings()\"><i class=\"fa fa-refresh fa-2x\"></i></button></span>\n\t\t\t\t<span style=\"padding-right:20px;\"><button class=\"btn btn-warning text-center\" onclick=\"openHelpModal()\"><i class=\"fa fa-life-ring fa-2x\"></i></button></span>\n\t\t\t\t<button class=\"btn btn-info text-center\" onclick=\"openInfoModal()\"><i class=\"fa fa-info-circle fa-2x\"></i></button>\n\t\t\t\t<div class=\"input-group input-group col-centered\" style=\"margin-top:10px;min-width:100%;padding-left:50px;padding-right:50px;\">\n\t\t\t\t\t<select class=\"form-control\" style=\"width:100%;\" name=\"devices\" id=\"deviceSelect\" onChange=\"getDeviceReadings()\" >\n\t\t\t\t\t</select>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t<a href=\"javascript:openParticulatesModal();\">\n\t\t\t\t<div class=\"col-xs-12 col-sm-6 GreenBG\" style=\"padding:15px;\">\n\t\t\t\t\t<div class=\"pull-left\"><img src=\"http://iotapps1.sealabs.org/goodair/img/air01.png\" /></div>\n\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">&nbsp;PPM&nbsp;</span><span id=\"oneumppm\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t</div>\n\t\t\t</a>\n\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t<a href=\"javascript:openTemperatureModal();\">\n\t\t\t\t<div class=\"col-xs-12 col-sm-6 RedBG\" style=\"padding:15px;\">\n\t\t\t\t\t<div class=\"pull-left\"><img src=\"http://iotapps1.sealabs.org/goodair/img/thermometer01.png\" /></div>\n\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">&deg;C&nbsp;</span><span id=\"temperature\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t</div>\n\t\t\t</a>\n\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t<a href=\"javascript:openHumidityModal();\">\n\t\t\t\t<div class=\"col-xs-12 col-sm-6 DeepSkyBlueBG\" style=\"padding:15px;\">\n\t\t\t\t\t<div class=\"pull-left\"><img src=\"http://iotapps1.sealabs.org/goodair/img/humidity01.png\" /></div>\n\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\">%&nbsp;</span><span id=\"humidity\" class=\"pull-right\">0</span><br></h1></div>\n\t\t\t\t</div>\n\t\t\t</a>\n\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t<a href=\"javascript:showMap('map_canvas');\">\n\t\t\t\t<div class=\"col-xs-12 col-sm-6 DarkOrangeBG\" style=\"padding:15px;\">\n\t\t\t\t\t<div class=\"pull-left\"><img src=\"http://iotapps1.sealabs.org/goodair/img/location01.png\" /></div>\n\t\t\t\t\t<div class=\"pull-right\"><h1><span class=\"pull-right\" id=\"latitude\">44.974</span><br><span class=\"pull-right\" id=\"longitude\">-93.273</span></h1></div>\n\t\t\t\t</div>\n\t\t\t</a>\n\t\t\t<!-- Add the extra clearfix for only the required viewport -->\n\t\t\t<div class=\"clearfix visible-xs-block visible-sm-block\"></div>\n\t\t\t<a href=\"javascript:openSettingsModal();\">\n\t\t\t\t<div class=\"col-xs-12 col-sm-6 GrayBG\" style=\"padding:15px;\">\n\t\t\t\t\t<div class=\"pull-left\"><img src=\"http://iotapps1.sealabs.org/goodair/img/charts01.png\" /></div>\n\t\t\t\t\t<div class=\"pull-right\" id=\"settings\"><h1>Analysis &amp<br>Device Info</h1></div>\n\t\t\t\t</div>\n\t\t\t</a>\n\t\t</div>\n\t\t<div style=\"display:none;\">\n\t\t\t<input type=\"hidden\" class=\"devicename\" value=\"GoodAir\" />\n\t\t\t<input type=\"hidden\" class=\"deviceid\" value=\"ABCDEFGHIJK123\" />\n\t\t\t<input type=\"hidden\" class=\"deviceaddress\" value=\"901 Marquette Ave S\" />\n\t\t\t<input type=\"hidden\" class=\"devicecity\" value=\"Minneapolis\" />\n\t\t\t<input type=\"hidden\" class=\"latitude\" value=\"44.9740366\" />\n\t\t\t<input type=\"hidden\" class=\"longitude\" value=\"-93.2725678\" />\n\t\t</div>\n\t\t<div id=\"footer\" class=\"text-center\" style=\"padding-top:20px;padding-bottom:20px;\">\n\t\t\t<br>\n\t\t\t<span class=\"text-center\">&copy 2015 Kevin W. Jones.</span>\n\t\t</div>\n\t</div>\n\t<div class=\"modal\" data-backdrop=\"static\" id=\"splashModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<!--<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button> -->\n\t\t\t\t\t<h2 class=\"text-center\"><img src=\"http://iotapps1.sealabs.org/goodair/img/att_logo_64x64.png\" style=\"width:48px;align-left;margin-top:-10px;padding-right:10px;\">AT&amp;T GoodAir</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body\">\n\t\t\t\t\t<div id=\"splashBody\" style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p class=\"lead\">You will be asked for your email address and to provide answers to three questions.</p><p class=\"lead\">Your email &amp; answers will be used to identify you at an AT&amp;T self-service kiosk should you require a device replacement.</p>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"text-center\">\n\t\t\t\t\t\t<button class=\"btn btn-success text-center\" onclick=\"closeSplashModal()\">Start</button>\n\t\t\t\t\t\t<br>\n\t\t\t\t\t</div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span class=\"text-center\">\n\t\t\t\t\t\t<small class=\"text-center\">&copy 2015. AT&amp;T. All rights reserved.</small>\n\t\t\t\t\t</span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- splashModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"statusModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<!--<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button> -->\n\t\t\t\t\t<h2 class=\"modal-title text-center\">Status</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"statusBody\" style=\"font-size:large;color:Black;\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span>\n\t\t\t\t\t\t<div id=\"closeDiv\"><button class=\"btn btn-danger text-center\" onclick=\"closeStatusModal()\">Close</button></div>\n\t\t\t\t\t</span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- statusModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"helpModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\" style=\"margin-top:-1px;\">Help</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"helpBody\" style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p>This web app connects directly to a local Good<font color=\"DeepSkyBlue\">Air</font> Connectible.</p>\n\t\t\t\t\t\t<p><font color=\"DarkBlue\"><i class=\"fa fa-refresh fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Refresh Readings.</p>\n\t\t\t\t\t\t<p><i class=\"fa fa-signal fa-lg btn-success\"></i>&nbsp;&nbsp;-&nbsp;Connection Status.</p>\n\t\t\t\t\t\t<p><font color=\"Green\"><i class=\"fa fa-th fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Particulates Detail.</p>\n\t\t\t\t\t\t<p><font color=\"Red\"><i class=\"fa fa-fire fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Temperature Detail.</p>\n\t\t\t\t\t\t<p><font color=\"DeepSkyBlue\">&nbsp;<i class=\"fa fa-tint fa-lg\"></i></font>&nbsp;&nbsp;&nbsp;-&nbsp;Humidity Detail.</p>\n\t\t\t\t\t\t<p><font color=\"DarkOrange\"><i class=\"fa fa-globe fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Location Detail.</p>\n\t\t\t\t\t\t<p><font color=\"Gray\"><i class=\"fa fa-gear fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;Settings.</p>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br />\n\t\t\t\t\t<div style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p><font color=\"Orange\"><i class=\"fa fa-star fa-lg\"></i></font>&nbsp;&nbsp;-&nbsp;For best results, wait a few minutes after powering on your Good<font color=\"DeepSkyBlue\">Air</font> Connectible before retrieving readings.</p>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"text-center\">&copy; 2015 by Kevin W. Jones.</div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeHelpModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- helpModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"infoModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"modal-title text-center\">AT&amp;T Good</span><span style=\"color: DeepSkyBlue\">Air</span><span style=\"color: #000\">!</span></h2>\n\t\t\t\t\t<h3 class=\"modal-title text-center\">How it Works!</h3>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"infoBody\" style=\"font-size:large;color:Black;\">\n\t\t\t\t\t\t<p>This is the GoodAir web app that accompanies the video series which teaches you how to create an Internet of Things product (both hardware and software) using AT&amp;T&apos;s M2X IIoT platform.  This app is written using HTML5, CSS3, and JavaScript. Here's how it works:</p>\n\t\t\t\t\t\t<img src=\"http://iotapps1.sealabs.org/goodair/img/how_it_works01.png\" width=\"300px\" style=\"float:left;padding-right:10px;\"/>\n\t\t\t\t\t\t<ol>\n\t\t\t\t\t\t\t<li>When you press the refresh <i class=\"fa fa-refresh\"></i> button, the app uses a webservice to request the latest air quality information from the AT&amp;T M2X  GoodAir asset warehouse, which contains all readings from all connected GoodAir devices (The GoodAir \"connectible\" is a small device that sits on your home, car, or office.</li>\n\t\t\t\t\t\t\t<li>The AT&amp;T GoodAir connectible continually measures the air quality (dust), temperature, humidity, and location (these things work anywhere, remember?).  It periodically sends sensor readings to the AT&amp;T M2X IIoT platform for storage and data analytics (mining).</li>\n\t\t\t\t\t\t\t<li>Upon receiving a request from the GoodAir app to provide the latest readings, The AT&amp;T M2X platform validates the request, then retrieves the latest information and sends to the web app.</li>\n\t\t\t\t\t\t\t<li>The GoodAir web app then parses the returned data (which is in JSON format) and writes each value onto the web app GUI.</li>\n\t\t\t\t\t\t</ol>\n\t\t\t\t\t\t<p>The author, Kevin Wray Jones, is an architect and mobility strategist with AT&amp;T Mobility Solutions Services.</p><p>If you'd like to learn more, contact Kevin at kj4849@att.com.</p>\n\t\t\t\t\t\t<p class=\"text-center\">&copy; 2015 Kevin W. Jones.</p>\n\t\t\t\t\t</div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeInfoModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- infoModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"particulatesModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Particulates</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current PPM:&nbsp;</label><span id=\"oneumppm1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low PPM:&nbsp;</label><span id=\"oneumppmLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High PPM:&nbsp;</label><span id=\"oneumppmHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average PPM:&nbsp;</label><span id=\"oneumppmAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"oneumppmReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"oneumppmTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"oneumppmTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeParticulatesModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- particulatesModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"temperatureModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Temperature</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current Temp:&nbsp;</label><span id=\"temperature1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low Temp:&nbsp;</label><span id=\"temperatureLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High Temp:&nbsp;</label><span id=\"temperatureHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average Temp:&nbsp;</label><span id=\"temperatureAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"temperatureReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"temperatureTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"temperatureTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeTemperatureModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- temperatureModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"humidityModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Humidity</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-left\"><label>Current Humidity:&nbsp;</label><span id=\"humidity1\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Low Humidity:&nbsp;</label><span id=\"humidityLow\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>High Humidity:&nbsp;</label><span id=\"humidityHigh\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Average Humidity:&nbsp;</label><span id=\"humidityAverage\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Readings:&nbsp;</label><span id=\"humidityReadings\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Current TS:&nbsp;</label><span id=\"humidityTimePresent\"></span></div>\n\t\t\t\t\t<div class=\"text-left\"><label>Initial TS:&nbsp;</label><span id=\"humidityTimeStart\"></span></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeHumidityModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- humidityModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"settingsModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Settings</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"settingsBody\" style=\"font-size:large;color:Black;\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-danger text-center\" onclick=\"closeSettingsModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- humidityModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"mapModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\"><i class=\"fa fa-times-circle-o fa-2x\"></i></button>\n\t\t\t\t\t<h2 class=\"text-center\">Good<font color=\"DeepSkyBlue\">Air</font> is here!</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div id=\"map_canvas\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t\t<div class=\"modal-footer\" style=\"text-align:center;\">\n\t\t\t\t\t<span><button class=\"btn btn-success text-center\" onclick=\"closeMapModal()\">Close</button></span>\n\t\t\t\t</div>\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- mapModal -->\n\t<div class=\"modal\"  data-backdrop=\"static\" id=\"fatalModal\" tabindex=\"-1\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<h2 class=\"text-center\">Drat!</h2>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body text-left\">\n\t\t\t\t\t<div class=\"text-center\"><img src=\"http://iotapps1.sealabs.org/goodair/img/smiley_drat.png\"></div>\n\t\t\t\t\t<br />\n\t\t\t\t\t<div id=\"fatalBody\" style=\"font-size:large;color:Black;\"></div>\n\t\t\t\t</div><!-- modal body -->\n\t\t\t</div><!-- modal-content -->\n\t\t</div><!-- modal-dialog -->\n\t</div><!-- fatalModal -->\n</div><!-- mainBody -->\n\n<script language=\"javascript\" type=\"text/javascript\"> \nvar connected = false;\nvar timeoutVar = null;\nvar timeoutSetting = 60000;\nvar map = null;\nvar markerBounds = null;\nvar pointCount = 0;\n\nvar latitude;\nvar longitude;\nvar latitudeEl;\nvar longitudeEl;\nvar browserName  = navigator.appName;\nvar fullVersion  = ''+parseFloat(navigator.appVersion); \nvar majorVersion = parseInt(navigator.appVersion,10);\nvar batteryLevel = 0;\nvar platform = navigator.platform;\nvar width = screen.width;\nvar height = screen.height;\nvar screenRatio;\nvar realWidth;\nvar realHeight;\n\nvar temperature = '0';\nvar temperatureHigh = '0';\nvar temperatureLow = '0';\nvar temperatureAverage = '0';\nvar temperatureReadings = '0';\nvar temperatureTotals = '0';\nvar temperatureTimePresent = '';\nvar temperatureTimeStart = '';\n\nvar humidity = '0';\nvar humidityHigh = '0';\nvar humidityLow = '0';\nvar humidityAverage = '0';\nvar humidityReadings = '0';\nvar humidityTotals = '0';\nvar humidityTimePresent = '';\nvar humidityTimeStart = '';\n\nvar oneumppm = '0';\nvar oneumppmHigh = '0';\nvar oneumppmLow = '0';\nvar oneumppmAverage = '0';\nvar oneumppmReadings = '0';\nvar oneumppmTotals = '0';\nvar oneumppmTimePresent = '';\nvar oneumppmTimeStart = '';\n\nvar days = '0';\nvar hours = '0';\nvar minutes = '0';\nvar nametag = '';\n\nvar selectedDevice = '';\n\nvar opts = {\n\tlines: 11, // The number of lines to draw\n\tlength: 33, // The length of each line\n\twidth: 7, // The line thickness\n\tradius: 60, // The radius of the inner circle\n\tcorners: 1, // Corner roundness (0..1)\n\trotate: 0, // The rotation offset\n\tdirection: 1, // 1: clockwise, -1: counterclockwise\n\tcolor: '#000', // #rgb or #rrggbb or array of colors\n\tspeed: 1, // Rounds per second\n\ttrail: 80, // Afterglow percentage\n\tshadow: true, // Whether to render a shadow\n\thwaccel: false, // Whether to use hardware acceleration\n\tclassName: 'spinner', // The CSS class to assign to the spinner\n\tzIndex: 2e9, // The z-index (defaults to 2000000000)\n\ttop: '50%', // Top position relative to parent\n\tleft: '50%' // Left position relative to parent\n};\nvar target;\nvar spinner;\n \nfunction init() { \n\n\ttarget = document.getElementById('spinner');\n\t\n\t$('#temperature').html('0');\n\t$('#humidity').html('0');\n\t$('#oneumppm').html('0');\n\t$('#latitude').html('44.974');\n\t$('#longitude').html('-93.273');\n\t\n\tgetDevices();\n\t\n\tgoogle.maps.event.addDomListener(window, 'load', initializeMap);\n\t\n\t//openSplashModal();\n}\n\n\nfunction initializeMap() {\n\tvar map_canvas = document.getElementById(\"map_canvas\");\n\tvar map_options = {\n\t\tcenter: new google.maps.LatLng(44.9740366, -93.2725678),\n\t\tzoom: 14,\n\t\tmapTypeId: google.maps.MapTypeId.ROADMAP\n\t};\n\tmap = new google.maps.Map(map_canvas, map_options);\n\t//$('#map_canvas').hide();\n\t\n\t\n\tcreatemarkers();  // removed during debugging\n}\n\nfunction createmarkers() {\n\n\tvar devicenames = [];\n\tvar deviceids = [];\n\tvar deviceaddresses = [];\n\tvar devicecities = [];\n\tvar latitudes = [];\n\tvar longitudes = [];\n\t$('.devicename').each(function() {\n\t\tdevicenames.push($(this).attr('value'));\n\t});\n\t$('.deviceid').each(function() {\n\t\tdeviceids.push($(this).attr('value'));\n\t});\n\t$('.deviceaddress').each(function() {\n\t\tdeviceaddresses.push($(this).attr('value'));\n\t});\n\t$('.devicecity').each(function() {\n\t\tdevicecities.push($(this).attr('value'));\n\t});\n\t$('.latitude').each(function() {\n\t\tlatitudes.push($(this).attr('value'));\n\t});\n\t$('.longitude').each(function() {\n\t\tlongitudes.push($(this).attr('value'));\n\t});\n\tvar devicenameslength = devicenames.length;\n\tvar deviceidslength = deviceids.length;\n\tvar latitudeslength = latitudes.length;\n\tvar longitudeslength = longitudes.length;\n\n\tvar pinColorRed = \"FE7569\";\n\tvar pinColorWhite = \"FFFFFF\";\n\tvar pinColorBlue = \"6666FF\";\n\tvar pinColorGreen = \"66FF66\";\n\tvar pinImageRed = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorRed,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinImageWhite = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorWhite,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinImageBlue = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorBlue,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinImageGreen = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|\" + pinColorGreen,\n\t\tnew google.maps.Size(21, 34),\n\t\tnew google.maps.Point(0,0),\n\t\tnew google.maps.Point(10, 34));\n\tvar pinShadow = new google.maps.MarkerImage(\"http://chart.apis.google.com/chart?chst=d_map_pin_shadow\",\n\t\tnew google.maps.Size(40, 37),\n\t\tnew google.maps.Point(0, 0),\n\t\tnew google.maps.Point(12, 35));\n\n\tconsole.log('devicenameslength:'+devicenameslength+',latitudes:'+latitudeslength+',longitudes:'+longitudeslength);\n\n\tif ((devicenameslength == latitudeslength) && (latitudeslength == longitudeslength)) {\n\t\tpointCount = devicenameslength; // we use this to figure how to best zoom\n\t\tmarkerBounds = new google.maps.LatLngBounds();\n\t\tfor (var i = 0, l = devicenameslength; i < l; i++){\n\t\t\tconsole.log('latitudes[i]:'+latitudes[i]+', longitudes[i]:'+longitudes[i]);\n\t\t\tvar latlng = new google.maps.LatLng(latitudes[i],longitudes[i]);\n\t\t\tvar contentString = '<h3>' + devicenames[i] + '</h3>'+\n\t\t\t\t\t\t\t\t'<h5>' + devicecities[i] + '</h5>'+\n\t\t\t\t\t\t\t\t'<div id=\"bodyContent\">'+'<b>Address: </b>' + deviceaddresses[i] + '<br>' +\n\t\t\t\t\t\t\t\t'<b>Lat: </b>' + latitudes[i] + '<br>' +\n\t\t\t\t\t\t\t\t'<b>Lng: </b>' + longitudes[i];\n\n\t\t\tinfowindow = new google.maps.InfoWindow({\n\t\t\t\tcontent: contentString,\n\t\t\t\tmaxWidth: 500\n\t\t\t});\n\t\t\tvar pinImage = pinImageRed;\n\n\t\t\tvar marker = new google.maps.Marker({\n\t\t\t\tmap: map,\n\t\t\t\tposition: latlng,\n\t\t\t\tlid: deviceids[i],\n\t\t\t\tdraggable: false,\n\t\t\t\traiseOnDrag: false,\n\t\t\t\ttitle: devicenames[i],\n\t\t\t\thtml: contentString,\n\t\t\t\ticon: pinImage,\n\t\t\t\tshadow: pinShadow\n\t\t\t});\n\n\t\t\tgoogle.maps.event.addListener(marker, 'click', function() {\n\t\t\t\tinfowindow.setContent(this.html);\n\t\t\t\tinfowindow.open(map,this);\n\t\t\t\t//infowindow.open(map,marker);\n\t\t\t});\n\t\t\tmarkerBounds.extend(latlng);\n\t\t\tif (pointCount > 1) {\n\t\t\t\tmap.fitBounds(markerBounds);\n\t\t\t}\n\t\t\telse if (pointCount == 1) {\n\t\t\t\tmap.setCenter(markerBounds.getCenter());\n\t\t\t\tmap.setZoom(17);\n\t\t\t}\n\t\t}\n\tmap.setCenter(markerBounds.getCenter());\n\t}\t\n\telse {\n\t\talert('ERROR: device and location coordinate counts do not match!');\n\t}\n}\n\t\nfunction map_GoodAir() {\n\tvar geocoder = new google.maps.Geocoder();\n\n\tvar markerBounds = new google.maps.LatLngBounds();\n\n\tfor (var i = 0; i < addressArray.length; i++) {\n\t\tgeocoder.geocode( { 'address': addressArray[i]}, function(results, status) {\n\t\t\tif (status == google.maps.GeocoderStatus.OK) {\n\t\t\tvar marker = new google.maps.Marker({\n\t\t\tmap: map,\n\t\t\tposition: results[0].geometry.location\n\t\t\t});\n\t\t\tmarkerBounds.extend(results[0].geometry.location);\n\t\t\tmap.fitBounds(markerBounds);\n\t\t\t} \n\t\t\telse {\n\t\t\t\talert(\"Geocode was not successful for the following reason: \" + status);\n\t\t\t}\n\t\t});\n\t}\n}\n\nfunction showMap(id) {\n\tvar e = document.getElementById(id);\n\tgoogle.maps.event.trigger(map,'resize');\n\tconsole.log('pointCount:'+pointCount);\n\tif (pointCount > 1) {\n\t\tmap.fitBounds(markerBounds);\n\t}\n\telse if (pointCount == 1) {\n\t\tmap.setCenter(markerBounds.getCenter());\n\t\tmap.setZoom(17);\n\t}\n\topenMapModal();\n}\n\nfunction getScreenInfo() {\n\tif(width>height){\n\t\trealWidth=width;\n\t\trealHeight=height;\n\t\tscreenRatio=(height/width);\n\t}\n\telse{\n\t\trealWidth=height;\n\t\trealHeight=width;\n\t\tscreenRatio=(width/height);\n\t}\n\tif(isNaN(screenRatio)){\n\t\tif(window.innerHeight>window.innerWidth){\n\t\t\trealWidth=window.innerHeight;\n\t\t\trealHeight= window.innerWidth ;\n\t\t\tscreenRatio = (window.innerWidth/window.innerHeight);\n\t\t}\n\t\telse{\n\t\t\trealWidth=window.innerWidth;\n\t\t\trealHeight= window.innerHeight;\n\t\t\tscreenRatio = (window.innerHeight/window.innerWidth);\n\t\t}\n\t}\n}\n\nfunction getBrowserInfo() {\n\tvar nVer = navigator.appVersion;\n\tvar nAgt = navigator.userAgent;\n\tvar nameOffset,verOffset,ix;\n\t\n\t// In Opera, the true version is after \"Opera\" or after \"Version\"\n\tif ((verOffset=nAgt.indexOf(\"Opera\"))!=-1) {\n\t browserName = \"Opera\";\n\t fullVersion = nAgt.substring(verOffset+6);\n\t if ((verOffset=nAgt.indexOf(\"Version\"))!=-1) \n\t   fullVersion = nAgt.substring(verOffset+8);\n\t}\n\t// In MSIE, the true version is after \"MSIE\" in userAgent\n\telse if ((verOffset=nAgt.indexOf(\"MSIE\"))!=-1) {\n\t browserName = \"Microsoft Internet Explorer\";\n\t fullVersion = nAgt.substring(verOffset+5);\n\t}\n\t// In Chrome, the true version is after \"Chrome\" \n\telse if ((verOffset=nAgt.indexOf(\"Chrome\"))!=-1) {\n\t browserName = \"Chrome\";\n\t fullVersion = nAgt.substring(verOffset+7);\n\t}\n\t// In Safari, the true version is after \"Safari\" or after \"Version\" \n\telse if ((verOffset=nAgt.indexOf(\"Safari\"))!=-1) {\n\t browserName = \"Safari\";\n\t fullVersion = nAgt.substring(verOffset+7);\n\t if ((verOffset=nAgt.indexOf(\"Version\"))!=-1) \n\t   fullVersion = nAgt.substring(verOffset+8);\n\t}\n\t// In Firefox, the true version is after \"Firefox\" \n\telse if ((verOffset=nAgt.indexOf(\"Firefox\"))!=-1) {\n\t browserName = \"Firefox\";\n\t fullVersion = nAgt.substring(verOffset+8);\n\t}\n\t// In most other browsers, \"name/version\" is at the end of userAgent \n\telse if ( (nameOffset=nAgt.lastIndexOf(' ')+1) < \n\t          (verOffset=nAgt.lastIndexOf('/')) ) \n\t{\n\t browserName = nAgt.substring(nameOffset,verOffset);\n\t fullVersion = nAgt.substring(verOffset+1);\n\t if (browserName.toLowerCase()==browserName.toUpperCase()) {\n\t  browserName = navigator.appName;\n\t }\n\t}\n\t// trim the fullVersion string at semicolon/space if present\n\tif ((ix=fullVersion.indexOf(\";\"))!=-1)\n\t   fullVersion=fullVersion.substring(0,ix);\n\tif ((ix=fullVersion.indexOf(\" \"))!=-1)\n\t   fullVersion=fullVersion.substring(0,ix);\n\t\n\tmajorVersion = parseInt(''+fullVersion,10);\n\tif (isNaN(majorVersion)) {\n\t fullVersion  = ''+parseFloat(navigator.appVersion); \n\t majorVersion = parseInt(navigator.appVersion,10);\n\t}\n\n\ttry {\n\t\tvar battery = navigator.battery || navigator.webkitBattery || navigator.mozBattery;\n\t\tbatteryLevel = battery.level;\n\t\t//alert('batteryLevel:'+batteryLevel);\n\t}\n\tcatch (e) {}\n\ttry {\n\t\tCPUCount = navigator.hardwareConcurrency;\n\t\t$('#CPUCount').empty();\n\t\t$('#CPUCount').append(CPUCount);\n\t\t//alert('CPUCount:'+ CPUCount);\n\t}\n\tcatch (e) {}\n\t$('#battery').empty();\n\t$('#battery').append(batteryLevel);\n\t$('#platform').empty();\n\t$('#platform').append(platform);\n\t$('#browserName').empty();\n\t$('#browserName').append(browserName);\n\t$('#fullVersion').empty();\n\t$('#fullVersion').append(fullVersion);\n}\n\nfunction closePrintScreen() {\n\t$('#main').hide();\n\t$('#print').hide();\n\t$('#finis').show();\n}\nfunction closeStatusModal() {\n\t$('#statusModal').modal('hide');\n\t$('#finis').show();\n}\nfunction openStatusModal() {\n\t$('#statusModal').modal('show');\n}\nfunction closeSettingsModal() {\n\t$('#settingsModal').modal('hide');\n}\nfunction openSettingsModal() {\n\t$('#settingsBody').empty();\n\t$('#settingsBody').html('<a class=\"btn btn-primary\" href=\"https://m2x.att.com/catalog/' + selectedDevice + '\" target=\"_blank\">M2X Data &amp; Analysis</a>');\n\t$('#settingsModal').modal('show');\n}\n\nfunction validEmail(email) {\n    var re = /^([\\w-]+(?:\\.[\\w-]+)*)@((?:[\\w-]+\\.)*\\w[\\w-]{0,66})\\.([a-z]{2,6}(?:\\.[a-z]{2})?)$/i;\n    return re.test(email);\n}\nfunction closeNetworkModal() {\n\t$('#networkModal').modal('hide');\n}\nfunction openNetworkModal() {\n\t$('#networkModal').modal('show');\n}\nfunction closeParticulatesModal() {\n\t$('#particulatesModal').modal('hide');\n}\nfunction openParticulatesModal() {\n\t$('#particulatesModal').modal('show');\n}\nfunction closeTemperatureModal() {\n\t$('#temperatureModal').modal('hide');\n}\nfunction openTemperatureModal() {\n\t$('#temperatureModal').modal('show');\n}\nfunction closeHumidityModal() {\n\t$('#humidityModal').modal('hide');\n}\nfunction openHumidityModal() {\n\t$('#humidityModal').modal('show');\n}\nfunction closeMapModal() {\n\t$('#mapModal').modal('hide');\n}\nfunction openMapModal() {\n\t$('#mapModal').modal('show');\n}\nfunction closeHelpModal() {\n\t$('#helpModal').modal('hide');\n}\nfunction openHelpModal() {\n\t$('#helpModal').modal('show');\n}\nfunction closeInfoModal() {\n\t$('#infoModal').modal('hide');\n}\nfunction openInfoModal() {\n\t$('#infoModal').modal('show');\n}\nfunction closeMapModal() {\n\t$('#mapModal').modal('hide');\n}\nfunction closeSplashModal() {\n\t$('#splashModal').modal('hide');\n\t$('#main').show();\n\t$('#phoneDiv').show();\n}\nfunction openSplashModal() {\n\t$('#splashModal').modal('show');\n}\n\nfunction getDevices() {\n\tvar loc = window.location;\n\tvar newUri = '';\n\tif (loc.protocol === \"https:\") {\n\t\tnewUri = \"https:\";\n\t} else {\n\t\tnewUri = \"http:\";\n\t}\n\tnewUri += \"//\" + loc.host + \"/sandbox/goodair/kj4849/in/flow/ws/devices\";\n\tconsole.log('getDevices:calling:'+newUri);\n\ttry {\n\t\t//var formData = new FormData();\n\t\t//formData.append('command','list');\n\t\tvar xhr = new XMLHttpRequest();\n\t\txhr.open('POST', newUri, true);\n\t\txhr.setRequestHeader('Content-Type', 'application/json');\n\t\txhr.onload = function(event) { \n\t\t\tvar responseText = event.target.responseText;\n\t\t\tif (responseText == \"fail\") {\n\t\t\t\talert('Failure while fetching devices');\n\t\t\t}\n\t\t\telse {\n\t\t\t\t// parse responseText and populate the select control\n\t\t\t\tconsole.log('getDevices:responseText:' + responseText);\n\t\t\t\t$('#deviceSelect').empty();\n\t\t\t\tvar tag = '';\n\t\t\t\ttag += '<option value=\"nodevice\">Select Device</option>';\n\t\t\t\ttag += responseText;\n\t\t\t\t$('#deviceSelect').append(tag);\n\t\t\t}\n\t\t};\n\t\txhr.send(JSON.stringify({command:\"list\"}));\n\t}\n\tcatch (err) {\n\t\tconsole.log('getDevices:error during XMLRequest:err.message:'+err.message);\n\t}\n}\nfunction getDeviceReadings(){\n\tvar tempDevice = document.getElementById(\"deviceSelect\");\n\tselectedDevice = tempDevice.options[tempDevice.selectedIndex].value;\n\tif (selectedDevice != \"nodevice\") {\n\t\tvar loc = window.location;\n\t\tvar newUri = '';\n\t\tif (loc.protocol === \"https:\") {\n\t\t\tnewUri = \"https:\";\n\t\t} else {\n\t\t\tnewUri = \"http:\";\n\t\t}\n\t\tnewUri += \"//\" + loc.host + \"/sandbox/goodair/kj4849/in/flow/ws/devices\";\n\t\tconsole.log('getDeviceReadings:calling:'+newUri);\n\t\ttry {\n\t\t\tvar xhr = new XMLHttpRequest();\n\t\t\txhr.open('POST', newUri, true);\n\t\t\txhr.setRequestHeader('Content-Type', 'application/json');\n\t\t\txhr.onload = function(event) { \n\t\t\t\tvar responseText = event.target.responseText;\n\t\t\t\tif (responseText == \"fail\") {\n\t\t\t\t\talert('Failure while fetching device info');\n\t\t\t\t}\n\t\t\t\telse {\n\t\t\t\t\t// parse responseText and populate the select control\n\t\t\t\t\tconsole.log('getDeviceReadings:responseText:' + responseText);\n\t\t\t\t\tvar JSONObj = JSON.parse(responseText);\n\t\t\t\t\t//console.log('getDeviceReadings.JSONObj.length:'+JSONObj.streams.length);\n\t\t\t\t\tfor (var i = 0, len = JSONObj.streams.length; i < len; ++i) {\n\t\t\t\t\t\tvar stream = JSONObj.streams[i];\n\t\t\t\t\t\t//console.log('switch:JSONObj.streams[i].name:'+JSONObj.streams[i].name);\n\t\t\t\t\t\tswitch(JSONObj.streams[i].name) {\n\t\t\t\t\t\t\tcase \"temperature_present\":\n\t\t\t\t\t\t\t\t$('#temperature').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\t$('#temperature1').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"temperature_high\":\n\t\t\t\t\t\t\t\t$('#temperatureHigh').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"temperature_low\":\n\t\t\t\t\t\t\t\t$('#temperatureLow').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"temperature_average\":\n\t\t\t\t\t\t\t\t$('#temperatureAverage').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"temperature_readings\":\n\t\t\t\t\t\t\t\t$('#temperatureReadings').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"temperature_totals\":\n\t\t\t\t\t\t\t\t$('#temperatureTotals').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"temperature_time_present\":\n\t\t\t\t\t\t\t\t$('#temperatureTimePresent').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"temperature_time_start\":\n\t\t\t\t\t\t\t\t$('#temperatureTimeStart').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_present\":\n\t\t\t\t\t\t\t\t$('#humidity').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\t$('#humidity1').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_high\":\n\t\t\t\t\t\t\t\t$('#humidityHigh').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_low\":\n\t\t\t\t\t\t\t\t$('#humidityLow').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_average\":\n\t\t\t\t\t\t\t\t$('#humidityAverage').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_readings\":\n\t\t\t\t\t\t\t\t$('#humidityReadings').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_totals\":\n\t\t\t\t\t\t\t\t$('#humidityTotals').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_time_present\":\n\t\t\t\t\t\t\t\t$('#humidityTimePresent').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"humidity_time_start\":\n\t\t\t\t\t\t\t\t$('#humidityTimeStart').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_present\":\n\t\t\t\t\t\t\t\t$('#oneumppm').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\t$('#oneumppm1').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_high\":\n\t\t\t\t\t\t\t\t$('#oneumppmHigh').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_low\":\n\t\t\t\t\t\t\t\t$('#oneumppmLow').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_average\":\n\t\t\t\t\t\t\t\t$('#oneumppmAverage').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_readings\":\n\t\t\t\t\t\t\t\t$('#oneumppmReadings').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_totals\":\n\t\t\t\t\t\t\t\t$('#oneumppmTotals').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_time_present\":\n\t\t\t\t\t\t\t\t$('#oneumppmTimePresent').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tcase \"oneumppm_time_start\":\n\t\t\t\t\t\t\t\t$('#oneumppmTimeStart').html(JSONObj.streams[i].value);\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t\tdefault:\n\t\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t};\n\t\t\tvar commandString = new Object();\n\t\t\tcommandString.command = \"read\";\n\t\t\tcommandString.deviceid = selectedDevice;\n\t\t\t\n\t\t\tvar sendJSON = JSON.stringify(commandString);\n\t\t\t//var sendJSON = {command:\"read\",deviceid:selectedDevice}';\n\t\t\tconsole.log('deviceSelection:sendJSON:'+sendJSON);\n\t\t\txhr.send(sendJSON);\n\t\t\t//xhr.send(JSON.stringify({command:\"read\"}));\n\t\t}\n\t\tcatch (err) {\n\t\t\tconsole.log('getDeviceReadings:error during XMLRequest:err.message:'+err.message);\n\t\t\t$('#statusBody').empty();\n\t\t\t$('#statusBody').html('We encountered an error trying to retrieve device information for '+selectedDevice+'. Please retry using the refresh button.');\n\t\t\topenStatusModal();\n\t\t}\n\t}\n\telse {\n\t\t$('#statusBody').empty();\n\t\t$('#statusBody').html('You must first select a device');\n\t\topenStatusModal();\n\t}\n}\n\n$(document).ready(function() {\n\n\t$(\"#mapModal\").on(\"shown.bs.modal\", function () {\n\t\tgoogle.maps.event.trigger(map, \"resize\");\n\t});\n\n\tinit();\n});\n\n</script>\n</body>\n</html>","x":427,"y":131.99999237060547,"z":"f1087822.b73f78","wires":[["be104479.41efb8"]]},{"id":"e226986d.1dd968","type":"comment","debugBreak":false,"debugOutput":false,"name":"server web app","info":"","x":124,"y":81,"z":"f1087822.b73f78","wires":[]},{"id":"33f910fe.cc06f","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":false,"complete":false,"x":314,"y":80,"z":"f1087822.b73f78","wires":[]},{"id":"70295d17.8fd6a4","type":"http in","debugBreak":false,"debugOutput":false,"name":"WebService get device info","url":"/ws/devices","method":"post","x":142,"y":207,"z":"f1087822.b73f78","wires":[["75ea2805.8a15d8","1cb26fa3.e34d9"]]},{"id":"75ea2805.8a15d8","type":"function","debugBreak":false,"debugOutput":false,"name":"Parse Client Command","func":"//node.warn('msg.req.body.command:'+msg.req.body.command);\n//node.warn('msg.req.body.deviceid:'+msg.req.body.deviceid);\ncontext.global.command = msg.req.body.command;\nif (msg.req.body.deviceid != 'undefined') context.global.deviceid = msg.req.body.deviceid;\n\nif (context.global.command == \"list\") {\n\tmsg.command = 'list';\n\tmsg.url = 'https://api-m2x.att.com/v2/devices';\n\tmsg.payload = {\"collection\":\"9dc721ca7a2a7ed12a553207c6c5aa58\"};\n\tmsg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : '2cae7fdb1c0e2e166b1bcec5d0447a5b'};\n}\nelse if (context.global.command == \"read\") {\n\tif (context.global.deviceid != \"undefined\") {\n\t\tdeviceid = context.global.deviceid;\n\t\tmsg.command = 'read';\n\t\tmsg.url = 'https://api-m2x.att.com/v2/devices/'+deviceid+'/streams';\n\t\tmsg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : '2cae7fdb1c0e2e166b1bcec5d0447a5b'};\n\t}\n\telse {\n\t\tmsg.command = \"read\";\n\t}\n}\nelse if (context.global.command == \"update\") {\n\tmsg.payload = msg.req.body.m2x_values;\n\tmsg.command = \"update\";\n\tnode.warn(\"Update: context.global.deviceid:\"+context.global.deviceid);\n\tmsg.topic = \"devices\"; // The type of object to act on - distribution,device,chart.key.\n\tmsg.action = \"postMultiple\";\n\tmsg.topic_id = context.global.deviceid;\n\tmsg.url = 'https://api-m2x.att.com/v2/devices/' + context.global.deviceid + '/updates';\n\tnode.warn(\"Update: msg.url:\"+msg.url);\n\tmsg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : '2cae7fdb1c0e2e166b1bcec5d0447a5b'};\t\n}\nelse {\n\tmsg.command = \"fail\";\n}\nreturn msg;","outputs":1,"valid":true,"dependencies":[],"x":325,"y":265,"z":"f1087822.b73f78","wires":[["d7356ecb.28ca9","fa092e08.05f6d"]]},{"id":"c5676e90.3a989","type":"http response","debugBreak":false,"debugOutput":false,"name":"","x":1092,"y":493,"z":"f1087822.b73f78","wires":[]},{"id":"1cb26fa3.e34d9","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"false","complete":"false","x":389,"y":207,"z":"f1087822.b73f78","wires":[]},{"id":"36cbb839.c93448","type":"http request","debugBreak":false,"debugOutput":false,"name":"Call M2X via GET","method":"GET","url":"","configKey":"","username":"","password":"","useAuth":false,"encryption":"none","useCertificate":false,"cert":"","key":"","x":659,"y":404,"z":"f1087822.b73f78","wires":[["151fde5a.eae022","9c653ad5.639ac8"]]},{"id":"151fde5a.eae022","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":false,"complete":false,"x":853,"y":368,"z":"f1087822.b73f78","wires":[]},{"id":"9c653ad5.639ac8","type":"function","debugBreak":false,"debugOutput":false,"name":"Parse & return results","func":"var d = new Date();\nvar n = d.toISOString();\n//node.warn(msg.payload);\n\nif (context.global.command == \"list\") {\n\tvar JSONObj = JSON.parse(msg.payload);;\n\t\n\tvar tag = '';\n\t//node.warn('JSONObj.devices.length:'+JSONObj.devices.length);\n\t\n\tfor (var i = 0, len = JSONObj.devices.length; i < len; ++i) {\n\t\tvar device = JSONObj[i];\n\t    //node.warn('JSONObj.devices[i].id:'+JSONObj.devices[i].id);\n\t    tag += \"<option value=\\\"\" + JSONObj.devices[i].id + \"\\\">\"+JSONObj.devices[i].id+ \"</option>\";\n\t}\t\n\t//node.warn('tag:'+tag);\n\tmsg.payload = tag;\n\treturn msg;\n}\nelse if (context.global.command = \"read\") {\n\tvar JSONObj = JSON.parse(msg.payload);;\n\t\n\tvar tag = msg.payload;\n\tmsg.payload = tag;\n\treturn msg;\n}\nelse {\n\treturn msg;\n}","outputs":1,"valid":true,"dependencies":[],"x":921,"y":429,"z":"f1087822.b73f78","wires":[["c5676e90.3a989"]]},{"id":"d7356ecb.28ca9","type":"switch","debugBreak":false,"debugOutput":false,"name":"Check command","property":"command","rules":[{"t":"eq","v":"fail"},{"t":"eq","v":"list"},{"t":"eq","v":"read"},{"t":"eq","v":"otherwise"}],"checkall":"true","outputs":4,"x":409,"y":378,"z":"f1087822.b73f78","wires":[["21ccc273.de333e","88ddafaa.77225"],["36cbb839.c93448"],["36cbb839.c93448"],["4c4f0ee.fb3b0f"]]},{"id":"21ccc273.de333e","type":"http response","debugBreak":false,"debugOutput":false,"name":"","x":622,"y":357,"z":"f1087822.b73f78","wires":[]},{"id":"88ddafaa.77225","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":false,"complete":false,"x":622,"y":313,"z":"f1087822.b73f78","wires":[]},{"id":"fa092e08.05f6d","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"false","complete":"true","x":532,"y":265,"z":"f1087822.b73f78","wires":[]},{"id":"4c4f0ee.fb3b0f","type":"http request","debugBreak":false,"debugOutput":false,"name":"Call M2X via POST","method":"POST","url":"","configKey":"","username":"","password":"","useAuth":false,"encryption":"none","useCertificate":false,"cert":"","key":"","x":667,"y":457,"z":"f1087822.b73f78","wires":[["9c653ad5.639ac8","e902cb95.16fd38"]]},{"id":"e902cb95.16fd38","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":false,"complete":false,"x":849,"y":518,"z":"f1087822.b73f78","wires":[]}]